<div class="inner-banner">
    <section class="w3l-breadcrumb text-left">
        <div class="container">
            <ul class="breadcrumbs-custom-path">
            </ul>
        </div>
    </section>
</div>

<!-- stats -->
<section class="w3_stats py-lg-0 py-5" id="stats">
    <div class="container">
        <div class="w3-stats">
            <div class="row">
                <div class="col-md-6 col-6 mt-md-0 mt-5" >
                    <div class="counter"  style=" border: 1px outset #0c49e4; border-radius: 20px;padding:15px;width: auto; height: auto; background-color: #afafafc2;text-align:center ;align-items:center">
                        <span class="fa fa-clone"></span>
                        <a href="@Url.Action( "Our_Previous_Work", "Services")" class=" nav-link"> <b> سابقة اعمالنا</b> </a>
                    </div>
                </div>
                
                <div class="col-md-6 col-6 mt-md-0 mt-5">
                    <div class="counter "  style=" border: 1px outset #0c49e4; border-radius: 20px;padding:15px;width: auto; height: auto; background-color: #afafafc2;text-align:center ;align-items:center">
                        <span class="fa fa-users"></span>
                        <a href="@Url.Action( "Our_Partners", "Services")" class=" nav-link"> <b> شركائنا</b> </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //stats -->


<br />
<br />


<!-- about section -->
<section class="w3l-text-6 py-5" id="about">
    <div class="text-6-mian py-lg-5 py-md-4" style=" border: 1px outset #0c49e4; border-radius: 20px;padding:15px;width: auto; height: auto; background-color: #afafafc2;text-align:center ;align-items:center;margin-left:50px;margin-right:50px">
        <div class="container">
            <div class="row top-cont-grid align-items-center">
                <div class="col-lg-6 left-img pr-lg-4">

                    <img src="~/Content/Image/444444.png" alt="" class="img-responsive radius-image img-fluid" />
                </div>
                <div class="col-lg-6 text-6-info mt-lg-0 mt-md-5 mt-4">
                    <h5>.تـــم تــأسيـس الحوكمة للاستـشارات والتـدريب فــي القاهرة كنتيجة حتمية لتراكم الخبرات والـمعرفة في هذا المجال، حيث المساهمة فـي تقــديم خـدماتنا مـن اسـتشارات وتـدريب ودعـم مــؤسســـاتي مجموعة من الخبراء والمستشارين والمدربين العرب والأجانب</h5>
                    <br />
                    <h5>
                        .خلال السنــوات المـــاضـية وحتـى نهـاية عام 2021 تــم تــقديــــم الخـــدمات الاستـــشارية والتـــدريبية للعـــديد من المؤسسات والشركات في العديد مــن الــدول منها: المملكة العربية السعودية والإمــــــارات العربية المتحدة –لبنان- السودان – ليبيا – اليمن -سوريا – سلطنة عمان – تركيا – إسبانيا – بريطانيا – مصر-الولايات المتحدة الأمريكية-الصين- روسيا-الاتحاد الأوروبي
                    </h5>
                    <h5>
                        .بدانا منذ عام 2014 فـي عدد من الدول العربية، انطـلاقاً مـن دولـة الإمـارات العربية المتحدة منذ عام 2015 حيث امتدت نشـاطاته في التـدريب والاسـتـشــارات على مدى اثني عشر عاماً لتشمل منطقة الشرق الأوسط وأوروبا
                    </h5>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- //about section -->

<section class="w3l-content-4 py-5" id="features">
    <div class="content-4-main py-lg-5 py-md-4 py-2" style=" border: 1px outset #0c49e4; border-radius: 20px;padding:15px;width: auto; height: auto; background-color: #afafafc2;text-align:center ;align-items:center;margin-left:50px;margin-right:50px">
        <div class="container">
            <div class="content-info-in row align-items-center">
                <div class="content-left col-lg-6">
                    <div class="row content4-right-grids mb-sm-5 mb-4 pb-3">

                        <div class="col-10 content4-right-info pl-lg-5">

                            <h5>
                                انطلاقاً من أن الإنسان هو محور عملية التنمية المستدامة وهو هدفها، ولأن التنمية بجوانبها المتعددة لا تقوم إلا بالعمل المؤسسي، وهذه التنمية هي مسؤولية المؤسسات بالدرجة الأولى من خلال إداراتها وكوادرها وخططها وإنجازاتها، ولأن دولة الإمارات العربية المتحدة تحتل موقعاً ريادياً من خلال الأداء  الرفيع الذي تقدمه حكومتها وكافة المؤسسات فيها، لذلك فإننا نعمل في بيئة أعمال دائمة التطور والريادة، بيئة لا تسمح إلا بالتميز، نعي ضرورة تقديم تدريب نوعي يلبي هذه الاحتياجات التدريبية المتجددة للأفراد والمؤسسات والشركات على اختلاف نشاطاتها، تدريب يهدف في شقه الأول إلى تطوير المهارات الذاتية الفردية المتعلقة بالجدارات والقدرات الشخصية للفرد في موقعه المجتمعي والمؤسسي، وفي شقه الثاني يهدف إلى تطوير مهارات العمل ورفع مستوى الأداء في التخصصات الإدارية والمالية والمهنية والفنية، مراعين أن يكون تدريبنا مهنياً احترافياً يواكب متطلبات عصر منظومة الجيل الرابع للتميز الحكومي الذي انطلق في دولة الإمارات معلناً بداية مرحلة جديدة تتميز بالابتكار والتطوير المستمر، لا مكان فيها للأفكار والأعمال التقليدية
                            </h5>
                        </div>
                    </div>


                </div>
                <div class="content-right col-lg-6 mt-lg-0 mt-5">
                    <img src="~/Content/images/جميع الدورات السلوكيه.jpeg" alt="" class="img-responsive radius-image img-fluid" />


                </div>
            </div>
        </div>
    </div>
</section>
<!-- middle -->
<div class="middle py-5">
    <div class="container py-lg-5 py-md-4">
        <div class="welcome-left text-center py-lg-3">
            <h3 class="title-big mb-4 mx-0 mw-100">اهدافنا</h3>
            <p class="pr-lg-5" style="color:white">
                تقديم الخدمات التدريبية والاستشارية والحلول الاستراتيجية
            </p>
            <p class="pr-lg-5" style="color:white">
                تزويد المتدرّبين بالخبراء الذين يقوموا بالتدريب والتأهيل وفق برامج متطورة ومستحدثة
            </p>
            <p class="pr-lg-5" style="color:white">
                استخدام وسائل تدريب متطورة تدرك احتياجات العميل الحالية والمستقبلية
            </p>
            <p class="pr-lg-5" style="color:white">
                استخدام أعلى المعايير المهنية وأحدث الأساليب في تقديم خدماتنا الاستشارية والتدريبية مع وجود أفضل المدربين والاستشاريين
            </p>

        </div>
    </div>
</div>
<!-- //middle -->
<br />
<br />

<div style="margin-right: 10%; margin-left: 10%; border: 1px outset #0c49e4; border-radius: 20px; padding: 15px; width: auto; height: auto; background-color: #afafafc2; text-align: center; align-items: center">
    <h2>:نقاط التميز</h2>
    <p style="font:x-large">.العلامة التجارية الأولى للالتزام الزمني </p>
    <p style="font:x-large">.نلتزم بالجداول الزمنية التي نضعها لتقديم خدمة تدريبية أو استشارية خلال سنوات عملها. حيث نتميز بتقديم خدماتنا وإنهاءها وفق جدول زمني يتفق علية وبجودة عالية </p>
    <br />
    <br />


    <h2>:طاقم تدريبي ذو مؤهلات عالية</h2>
    <p style="font:x-large">.التدريب المتميز لا يمكن الحصول عليه إلاّ من خلال خبراء ومدربين لديهم الخبرة العملية الطويلة في مجال التدريب، لذلك فإننا نستعين في تصميم وتنفيذ برامجنا بمجموعة متميزة من الخبراء والمدربين والرواد الممارسين من أصحاب الكفاءات العلمية والعملية من ذوي الخبرة العالمية والتدريبية مع وجود أفضل المدربين والاستشاريينالعلامة التجارية الأولى للالتزام الزمني </p>


    <br />
    <br />
    <h2>:الرؤية</h2>
    <p style="font:x-large">.تحقيق التميز العالمي في مجال تقديم خدمات التدريب و التطوير والاستشارات </p>




    <br />
    <br />
    <h2>:الرسالة</h2>
    <p style="font:x-large">.استثمار العقول المبدعة لتوطين وتقديم التدريب والخدمات الاستشارية في الإطار العالمي ، من خلال تقديم خدماتنا المتطورة والمتكاملة، ذات الجودة العالية التي تتحقق من خلالها معايير الريادة العالمية </p>


    <br />
    <br />
    <h2>:خدمات تدريبية متعددة</h2>
    <p style="font:x-large">.نلتزم بتقديم خدمات تدريبية مختلفة تلبي حاجة عملاءها باختلاف قطاعاتهم مجموعات وأفراد وذلك باحترافية عالية </p>

</div>

<br />
<br />
<br />
<br />

