@{
    ViewBag.Title = "Home Page";
}


<section class="w3l-main-slider " id="home" >

    <div class="slider-info banner-view bg bg2 ">

        <div class="banner-info ">
            <div class="container text-center" >
                <div class="container text-center ">
                    <div class="banner-info-bg fa fa" style=" border: 1px outset #0c49e4; border-radius: 20px;padding:15px;width: auto; height: auto; background-color: #afafafc2;text-align:center ;align-items:center">
                        <h5 style="color: black; font-family: Calibri Light;font:bold ;text-align:center">الحوكمة للإستشارات والتدريب</h5>

                        @*<p class="mt-md-4 mt-3" style="text-align:right">
                                سيحصل أعضاء معهد حوكمة إخطارات حول المقاعد الشاغرة لعضوية مجالس الإدارة مما سيساعده في العثور على مقاعد مجالس الإدارة المناسبة لهم
                            </p>*@
                        <br />
                        <div class="logo text-center text-lg-center">

                            <a href="#"> <h1 class="" style="font-style: normal; font-size:40px;font:bold  "><span><img src="~/Content/images/logo.png" style="width:90px; height:100px" /> 
</span></h1>  </a>

                        </div>
                        <br />
                        <br />
                        <div class="btn btn-success" style=" text-align:center">

                            <a class="" href="https://api.whatsapp.com/send/?phone=201118480412&text&app_absent=0" style="color:white;font-size:large;"><span>  <img src="~/Content/Image/whatsappLogo.png" width="30" height="30" /></span> <span>Whatsapp</span> </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>





</section>

<!-- stats -->
<section class="w3_stats py-lg-0 py-5" id="stats">
    <div class="container">
        <div class="w3-stats">
            <div class="row">
                <div class="col-md-3 col-6 mt-md-0 mt-5">
                    <div class="counter" style=" border: 1px outset #0c49e4; border-radius: 20px;padding:15px;width: auto; height: auto; background-color: #afafafc2;text-align:center ;align-items:center">

                        <p class="count-text">التواصل مع الأعضاء</p>

                    </div>
                </div>
                <div class="col-md-3 col-6 mt-md-0 mt-5">
                    <div class="counter" style=" border: 1px outset #0c49e4; border-radius: 20px;padding:15px;width: auto; height: auto; background-color: #afafafc2;text-align:center ;align-items:center">

                        <p class="count-text ">تحسين ومعرفة المهارات المهنية</p>

                    </div>
                </div>
                <div class="col-md-3 col-6 mt-md-0 mt-5">
                    <div class="counter" style=" border: 1px outset #0c49e4; border-radius: 20px;padding:15px;width: auto; height: auto; background-color: #afafafc2;text-align:center ;align-items:center">

                        <p class="count-text"> أحصل على فرصتك </p>

                    </div>
                </div>
                <div class="col-md-3 col-6 mt-md-0 mt-5">
                    <div class="counter" style=" border: 1px outset #0c49e4; border-radius: 20px;padding:15px;width: auto; height: auto; background-color: #afafafc2;text-align:center ;align-items:center">

                        <p class="count-text">مستجدات الحوكمة</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //stats -->
<!-- about section -->
<section class="w3l-text-6 py-5" id="about">
    <div class="text-6-mian py-lg-5 py-md-4" style=" border: 1px outset #0c49e4; border-radius: 20px;padding:15px;width: auto; height: auto; background-color: #afafafc2;text-align:center ;align-items:center;margin-left:50px;margin-right:50px">
        <div class="container">
            <div class="row top-cont-grid align-items-center">
                <div class="col-lg-6 left-img pr-lg-4">
                    <img src="~/Content/Image/openbooks.jpg" alt="" class="img-responsive radius-image img-fluid" />
                </div>
                <div class="col-lg-6 text-6-info mt-lg-0 mt-md-5 mt-4">
                    <h1>  المعرفة المتخصصة والتوجيه</h1>
                    <br />
                    <h5>
                        يقوم المعهد بعمل نشرة إخبارية إلكترونية تغطي أحدث أخبار الحوكمة والجديد في مكتبة موارد الحوكمة على الإنترنت. يمكن للأعضاء البحث والوصول إلى المستندات والمقالات والنصائح المهنية التي تساعدهم في تجويد أدائهم. كما يمكن للأعضاء أن يساهموا في النشرة الإخبارية للمعهد بما لديهم من خبرات وأخبار، مما يمنحهم الفرصة للظهور وتعريف الآخرين بهم وبخبراتهم
                    </h5>


                </div>
            </div>
        </div>
    </div>
</section>
<!-- //about section -->
<!-- about section -->
<section class="w3l-text-6 py-5" id="about">
    <div class="text-6-mian py-lg-5 py-md-4" style=" border: 1px outset #0c49e4; border-radius: 20px;padding:15px;width: auto; height: auto; background-color: #afafafc2;text-align:center ;align-items:center;margin-left:50px;margin-right:50px">
        <div class="container">
            <div class="row top-cont-grid align-items-center">

                <div class="col-lg-6 text-6-info mt-lg-0 mt-md-5 mt-4">
                    <h1>  التواصل وتبادل وجهات النظر</h1>
                    <br />
                    <h5>
                        يمكن للأعضاء الوصول الكامل إلى أي تحديثات للتشريعات وقوانين الحوكمة المتاحة من خلال بوابة المعهد التي تحتوي على هذه المعلومات، ومواكبة أحدث المعلومات حول الاتجاهات العالمية - تلقي تحديثات حول المعلومات والنشرات الإخبارية المنتظمة – النشرات الشهرية عن اتجاهات الحوكمة في المنطقة وخارجها بالإضافة إلى مجلة حوكمة وأوراق المعهد البحثية
                    </h5>


                </div>

                <div class="col-lg-6 right-img pr-lg-4">
                    <img src="~/Content/Image/Screenshot 2022-04-28 013742.png" alt="" class="img-responsive radius-image img-fluid" />

                </div>

            </div>
        </div>
    </div>
</section>
<!-- //about section -->
<!-- about section -->
<section class="w3l-text-6 py-5" id="about">
    <div class="text-6-mian py-lg-5 py-md-4" style=" border: 1px outset #0c49e4; border-radius: 20px;padding:15px;width: auto; height: auto; background-color: #afafafc2;text-align:center ;align-items:center;margin-left:50px;margin-right:50px">
        <div class="container">
            <div class="row top-cont-grid align-items-center">
                <div class="col-lg-6 left-img pr-lg-4">
                    <img src="~/Content/Image/6556-7mm.jpg" alt="" class="img-responsive radius-image img-fluid" />
                </div>
                <div class="col-lg-6 text-6-info mt-lg-0 mt-md-5 mt-4">
                    <h1>  دعم أعضاء مجلس الإدارة</h1>
                    <br />
                    <h5>
                        أعضاء معهد حوكمة يمكنهم الحصول على الدعم الفني والمشورة الخاصة بمجلس الإدارة واللجان التابعة له من فريق معهد حوكمة. وتهدف هذه الخدمة لمساعدة أعضاء مجلس الإدارة، خاصةً حديثي العهد بالمجلس، من الحصول على الدعم اللازم للتعامل مع مشاكل وتحديات عضوية المجلس
                    </h5>


                </div>
            </div>
        </div>
    </div>
</section>
<!-- //about section -->
@*<div class="w3l-servicesblock2" id="services">
    <section id="grids5-block" class="py-5">
        <div class="container py-lg-5 py-md-4 py-2">
            <br />
            <br />
            <br />
            <br />
            <br />

            <div class="row mt-lg-5 mt-4">
                <div class="col-lg-4 col-md-6">
                    <div class="grids5-info">
                        <a href="#service" class="d-block zoom">
                            <img src="~/Content/Image/openbooks.jpg" alt="" class="img-fluid service-image" />

                        </a>
                        <h2><br />المعرفة المتخصصة والتوجيه</h2>
                        <br />
                        <p>
                            يقوم المعهد بعمل نشرة إخبارية إلكترونية تغطي أحدث أخبار الحوكمة والجديد في مكتبة موارد الحوكمة على الإنترنت. يمكن للأعضاء البحث والوصول إلى المستندات والمقالات والنصائح المهنية التي تساعدهم في تجويد أدائهم. كما يمكن للأعضاء أن يساهموا في النشرة الإخبارية للمعهد بما لديهم من خبرات وأخبار، مما يمنحهم الفرصة للظهور وتعريف الآخرين بهم وبخبراتهم
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-md-0 mt-5">
                    <div class="grids5-info">
                        <a href="#service" class="d-block zoom">
                            <img src="~/Content/Image/Screenshot 2022-04-28 013742.png" alt="" class="img-fluid service-image" />

                        </a>
                        <h2><br />التواصل وتبادل وجهات النظر</h2>
                        <br />
                        <p>
                            يمكن للأعضاء الوصول الكامل إلى أي تحديثات للتشريعات وقوانين الحوكمة المتاحة من خلال بوابة المعهد التي تحتوي على هذه المعلومات، ومواكبة أحدث المعلومات حول الاتجاهات العالمية - تلقي تحديثات حول المعلومات والنشرات الإخبارية المنتظمة – النشرات الشهرية عن اتجاهات الحوكمة في المنطقة وخارجها بالإضافة إلى مجلة حوكمة وأوراق المعهد البحثية
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-lg-0 mt-5">
                    <div class="grids5-info">
                        <a href="#service" class="d-block zoom">
                            <img src="~/Content/Image/6556-7mm.jpg" alt="" class="img-fluid service-image" />

                        </a>
                        <h2><br />دعم أعضاء مجلس الإدارة</h2>
                        <br />
                        <p>
                            أعضاء معهد حوكمة يمكنهم الحصول على الدعم الفني والمشورة الخاصة بمجلس الإدارة واللجان التابعة له من فريق معهد حوكمة. وتهدف هذه الخدمة لمساعدة أعضاء مجلس الإدارة، خاصةً حديثي العهد بالمجلس، من الحصول على الدعم اللازم للتعامل مع مشاكل وتحديات عضوية المجلس
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <br />
        <br />
        <br />
        <br />
    </section>

</div>*@
