
@{
    ViewBag.Title = "Con_Gov_Ins";
}

<div class="inner-banner ">
    <section class="w3l-breadcrumb text-left">
        <div class="container">
            <ul class="breadcrumbs-custom-path">
                
            </ul>
        </div>
    </section>
</div>
<br />
<br />
<h2 class="title-big " style="text-align:center"><b>استشارات للمؤسسات الحكومية </b></h2>
<br />

<hr />
<br />
<div style="margin-right:10%;margin-left:10%">


    <section class="w3l-features-4">
        <div class="features4-block pb-5">
            <div class="container pb-lg-5 pb-md-4 pb-3">
                <div class="row features4-grids" style="text-align:right;text-align:right">

                    <div class="col-xl-3 col-sm-6 mt-xl-0 mt-4">
                        <div class="features4-grid">

                            <a class="grid-linkl" href="#vv" style="color:white;font-size:large;margin-bottom:10px"> خدمات صياغة السياسات العامة </a>
                        </div>
                    </div>
                    <div class="col-xl-3 col-sm-6 mt-xl-0 mt-4">
                        <div class="features4-grid">

                            <a class="grid-linkl" href="#bb" style="color: white; font-size: large; margin-bottom: 10px"> إنشاء عملية مؤسسية للإبداع الحكومي </a>
                        </div>
                    </div>
                    <div class="col-xl-3 col-sm-6 mt-sm-0 mt-4">
                        <div class="features4-grid">

                            <a class="grid-linkl" href="#nn" style="color: white; font-size: large; margin-bottom: 10px">  تطوير القطاعات الحكومية<br /> </a>
                        </div>
                    </div>
                    <div class="col-xl-3 col-sm-6 mt-sm-0 mt-4">
                        <div class="features4-grid ">

                            <a class="grid-linkl" href="#mm" style="color: white; font-size: large; margin-bottom: 10px">  استشارات هيكلة المؤسسات وإصلاحها ودمجها </a>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </section>


    <hr />
    <h2 style="text-align: right ;" id="mm">:استشارات هيكلة المؤسسات وإصلاحها ودمجها - </h2>
    <br />
    <div style="margin-right:5%;margin-left:5%">
        <p>
            .يشمل علم إدارة الأعمال العديد من المجالات والعلوم والمخططات والمعارف والاستراتيجيات والعمليات المتداخلة ومن أبرزها ما يسمى بإعادة الهيكلة ودمج المؤسسات وإصلاحها إداريا
        </p>

        <br />
        <h5>-:اولا:المقصود بإعادة هيكلة المؤسسات</h5>
        <div style="margin-right:2%;margin-left:2%">

            <p>	.اولا:التعريف الأول لهيكلة أو إعادة هيكلة المؤسسات يعتمد على فرضية أساسية تفيد بأن الإدارة هي في المقام الأول أداة للتغيير تهدف إلى تحقيق التحول أو الانتقال من وضع ضعيف ومزري إلى وضع جديد وفعال وبناء، ويتم ذلك من خلال ربط أجزاء النظام الإداري ببعضها البعض، وتلك الأجزاء تتمثل في المدخلات والنشاطات والمخرجات، على أن يتم جعلها ذات قدرة فائقة على التأثير في الوضع المحيط بها من خلال نوعيات الموارد التي تعمل المؤسسة على استقطابها من البيئة المحيطة، وكذلك من خلال المخرجات التي تطرحها للبيئة-</p>
            <p>	.ثانيا:ويمكن تعريف عملية إعادة الهيكلة للمؤسسات بأنها العملية التي تتعمق وتمتد لتشمل كامل الكيان الإداري بحيث تشمل تحديد الأهداف العامة والنتائج الدقيقة التي تسعى الدولة إلى تحقيقها على المدى البعيد، وهي لا تعني فقط تطوير الهياكل التنظيمية للأجهزة، وإلغاء أو دمج وحدات واستحداث أخرى-</p>
            <p>	.ثالثا:هناك تعريف ثالث لإعادة الهيكلة المؤسسية يشير إلى تلك الجهود المبذولة لدراسة وتحليل كافة أقسام أي جهاز من حيث مدى الحاجة للجهاز ووضعه القانوني والعلاقات التنظيمية له، وكذلك الاتفاق على أن المفهوم الواسع لإعادة هيكلة القطاع العام لابد أن يشتمل على إعادة النظر في هيكل إدارة الحكومة المعاصرة-</p>

        </div>
        <br />
        <h5>-:ثانيا:المقصود بالإصلاح الإداري</h5>
        <div style="margin-right:2%;margin-left:2%">

            <p>	.اولا:الإصلاح الإداري يتمركز في إدخال قدر من التغيير على الإطار العام لممارسة أي عمل إداري وأساليبه، بحيث يتم هذا الإصلاح بالصورة التي تقضي على مظاهر التخلف النسبي وتؤدي لتلاشى النتائج المترتبة على هذا التخلف، وبمعنى آخر فإنه نشاط حركي وإجراء إيجابي يتجه إلى محاولة القضاء على أسباب التخلف الإداري-</p>
            <p>	.ثانيا:هناك من التعريفات التي ذكرها أحد أبرز خبراء إدارة الأعمال، أن الإصلاح الإداري في القطاع الحكومي عبارة عن الجهود المنظمة وبشكل مقصود لإحداث تغييرات كبيرة وجوهرية وأساسية في بنية وتركيبة وإجراءات الجهاز الحكومي، ويجب أن تتعدى هذه التغييرات إلى تحسين اتجاهات وسلوك الإداريين العاملين في الجهاز الإداري الحكومي وأن يكون ذلك بهدف رفع وزيادة كفاءة أداء هذا الجهاز لتحقيق أهداف التنمية الوطنية-</p>

        </div>
        <br />
        <h5>-:ثالثا:مفهوم الاندماج التنظيمي في القطاع العام</h5>
        <div style="margin-right:2%;margin-left:2%">

            <p>	.مصطلح الاندماج التنظيمي أو دمج المؤسسات والمنظمات الحكومية أو الوزارات والأجهزة الحكومية هو أحد العمليات التي تتم من أجل إعادة هيكلة القطاع الحكومي، أو عمليات الإصلاح الإداري في القطاع العام</p>
            <p>	.مما سبق يمكن أن نستنتج أن الاندماج التنظيمي في القطاع العام هو دمج منظمتين أو أكثر أو إدارات أو أقسام من منظمات القطاع العام على أن يكونوا منظمة واحدة جديدة، أو نلجأ لإلغاء منظمة أو أكثر وإضافتها أو أجزاء منها إلى منظمة قائمة بالفعل من أجل تحسين نوعية الخدمات المقدمة للمواطنين وترشيد النفقات العامة مما يزيد من كفاءة وفاعلية منظمات القطاع الحكومي</p>

        </div>
    </div>




    <br />
    <hr />
    <h2 style="text-align: right ;" id="nn">:تطوير القطاعات الحكومية - </h2>

    <br />
    <div style="margin-right:5%;margin-left:5%">

        <p>
            .إن معادلة النجاح المتميّز للمؤسسات الحكومية تقوم على أربعة عناصر رئيسية؛ وهي التخطيط الذي يشكل (30%) من معدل نسبة نجاح الهيئات الحكومية في العالم، بالإضافة إلى أركان العمل المتمثلة في (القيادة والموظفين ووضوح الغاية والأنظمة والتعليمات والتشريعات) التي تؤطر عمل المؤسسة، بالإضافة إلى المعيار الثالث وهو أركان التنافس الذي يعتمد عليه في تحسين جودة الخدمة/ المنتج الذي ينعكس بشكل مباشر على رضا وولاء متلقي الخدمة، والمعيار الأخير هو البنية التحتية، وقد تم تصنيفها حسب معايير فرعية وفق أفضل الممارسات العالمية ليكون تقييماً موضوعياً وعلمياً، لأن التقييم الصحيح هو الأساس الصلب الذي ترتكز عليه المؤسسة الناجحة، للانطلاق نحو الريادة والتميّز
        </p>

        <p>
            .من أهم عملية إنجاز أي مشروع، حسب ما هو مخطط، أن يكون هناك متابعة دائمة بشرط توفر خطة واضحة للمشروع، وبإطار زمني محدد، ومعززة بمؤشرات أداء تمكّن المعنيين من الوقوف عند أي انحراف واتخاذ إجراء تصحيحي، ولتحقيق ذلك لا بد من تحديد موظفين يقومون بهذه المهمة ويقومون بكتابة تقارير دورية للإدارة العليا عن سير الخطط وانحرافاتها إن وجدت
        </p>

        <p>
            .سر نجاح أي من المؤسسات العامة، يعتمد بشكل أساسي على خبرات ومهارات كوادرها ومدى فهمهم لآلية عمل مؤسساتهم، وهذا لا يأتي إلا من خلال إشراك الكوادر على اختلاف مجالات عملهم في العديد من الدورات التأهيلية التأسيسية والمتوسطة والمتقدمة، وحسب خطة تضمن سير عمل المؤسسة؛ بالتوازي مع تأهيل الكوادر البشرية
        </p>
        <br />
        <h5>: تشخيص الحالة </h5>
        <div style="margin-right:2%;margin-left:2%">

            <p>
                .رغم كل الجهود التي تقوم بها وزارة تطوير القطاع العام، ورغم مرور ما يزيد على عشر سنوات على إطلاق جائزة الملك عبد الله الثاني لتميز الأداء الحكومي والشفافية، ما تزال غالبية أجهزة القطاع العام في الأردن دون المستوى المطلوب، من حيث جودة ومستوى الخدمة المقدمة إلى المواطنين، الأمر الذي انعكس سلبا على رضا وتوقعات متلقي الخدمة
            </p>
            <p>
                .وإذا ما استثنينا عدد قليل من الأجهزة الحكومية، التي تقدم خدمة متميزة بجودة عالية، مقارنة بغيرها من الأجهزة والمؤسسات الحكومية، فان معظم الوزارات والمؤسسات والهيئات الحكومية والمستقلة (شبه الحكومية) ما تزال تعاني من الترهل الإداري، وتدني مستوى تقديم الخدمة، وانخفاض جودة العمل
            </p>
            <p>
                .وتكمن المشكلة الحقيقية في أن كل وزارة، أو دائرة أو مؤسسة حكومية، تعمل بمفردها، فتحدد أهدافا ومقاييس وعمليات، وبشكل مستقل عن بقية الأجهزة الحكومية. ولا شك، أن ذلك كله لا يؤدي الى تحسين نوعية وجودة الخدمة المقدمة، أو تحقيق التكامل المطلوب مع العمليات أو الإجراءات في بقية الأجهزة الحكومية. ودون وجود رؤيا شاملة أو هدف شامل على المستوى الحكومي، وبما يضمن التنسيق بين جميع الجهات الحكومية، ويكفل تعزيزه بطريقه شاملة تتمحور حول جودة ونوعية الخدمة الحكومية
            </p>
            <p>
                .المشكلة الأخرى ، والأخطر، هو التغيير المستمر في الرؤى والأهداف والتطبيق في جميع الأجهزة الحكومية، مع كل تغيير وزاري، أو كلما تغير رأس الهرم في أي مؤسسة
            </p>
            <p>
                .وتشير البحوث والدراسات المتعلقة بالمؤسسات ذات الأداء العالي أن التحسين المستمر في رضا متلقي الخدمة، إنما يتحقق بشكل أفضل عن طريق تحديد أهداف التحسين المستمر في إطار عملية التخطيط الإستراتيجي، ثم التأكد من أن الخطط السنوية لتحسين الخدمة تستند إلى أولويات متلقي الخدمة
            </p>
        </div>


        <br />
        <h5>:وتؤكد الدراسات الإدارية أن أهم ما يحتاجه المواطن لتلمّس خدمة متميزة، هما أمرين</h5>
        <div style="margin-right:2%;margin-left:2%">

            <p>	.اولا:الوصول الأكثر سهولة وسلاسة إلى الخدمات الحكومية. ويتحقق ذلك من خلال برنامج الحكومة الإلكترونية الشاملة -</p>
            <p>	.ثانيا:الحصول على مستويات أعلى من الجودة والأداء عند تقديم الخدمات الحكومية، من خلال وضع معايير جودة قابلة للقياس الكمي المستمر فيما يتعلق برضا المواطن حول جودة الخدمات الحكومية المقدمة-</p>
            <p>	.ثالثا:هناك تعريف ثالث لإعادة لدراسة وتحليل كافة أقسام أي جهاز من حيث مدى الحاجة للجهاز ووضعه القمعاصرة-</p>

        </div>
        <br />
        <br />
        <h4>: برنامج العلاج</h4>
        <div style="margin-right:2%;margin-left:2%">
            <h5>: أولا: علاج مرحلي</h5>
            <br />
            <p>:يتجلى الإبداع في تقديم الخدمة الحكومية في أمرين</p>
            <div style="margin-right:2%;margin-left:2%">
                <p>
                    .(الاستمرار في تبسيط الخدمات وتحويل الكثير منها لإلكترونية (الحكومة الإلكترونية _
                </p>

                <p>
                    .(المرونة في تقديم الخدمة (فتح مراكز خدمة في المولات يمتد عملها مساءً لتجنيب الموظفين مغادرة دوامه _
                </p>
            </div>
            <br />
            <p>.ومن اليقين أن كل جهة حكومية، تقدم خدمة لها خصوصية، لا ينفع معها أن يصف لها الخبراء حلول موحدة، تتشابه مع سائر الجهات، مع اتفاقنا على وجود العديد من أوجه الشبه خاصة في بداية العلاج، كحال الكثير من المرضى، الذين يصح عند استقبالهم إعطاءهم دواء مسكن للألم، ريثما يكتمل التشخيص، وبالتالي يتمكن الطبيب من معرفة المرض ووضع خطة العلاج الخاصة به</p>
        </div>
        <br />
        <h5>: ثانيا: علاج مستقبلي</h5>
        <p>(المطلوب وفق هذا البرنامج المتصوّر هو التركيز على تفعيل برنامج حكومي شامل لتطوير أداء القطاع العام بالتعاون مع أهل الخبرة والاختصاص في مركز روى الدولي، لتحسين الخدمات في أجهزة القطاع العام، ويتم تنفيذ البرنامج بالتدرّج، وخلال مدة تتراوح بين (3-5) سنوات على الأقل، بحيث تطبّق في المرحلة الأولى (لمدة عامين) مجموعة أفكار خلاّقة متعلقة بتحسين الجودة والخدمة، وفق أفضل الممارسات المتبعة عالميا، وتطبق بشكل جزئي على عدد محدود من الأجهزة الحكومية الفعّالة، لتصبح هذه الأجهزة، لاحقا (دوائر ريادة نموذجية</p>
        <p>.وفي المرحلة الثانية (خلال ثلاثة أعوام) يتم توسيع التطبيق تدريجيا ليشمل جميع الأجهزة الحكومية</p>
        <p>:ويشتمل البرنامج المقترح على ما يلي</p>
        <p>.اعتماد نهج التخطيط والتحسين المستمر وتنفيذ خطة شاملة لتحسين الخدمات ورضا العملاء والمواطنين</p>
        <p>.وضع مقايس أساسية وواضحة وموثوقة لقياس رضا المواطن عن الخدمات الأساسية المقدمة من قبل جميع الأجهزة الحكومية</p>
        <p>.إعداد وتنفيذ خطط تحسين الخدمات السنوية على أساس أولويات العملاء والمواطنين لتحسين الخدمات الحكومية</p>
        <p>.تحديد معدل أدنى من مستوى تحسين رضا العملاء والمواطنين خلال عدد محدد من السنوات كخمس سنوات مثلا</p>
        <p>.اعتماد ونشر معايير الخدمات الأساسية لكل خدمة بهدف تشجيع مشاركة الموطنين وزيادة وعيهم بمجهود الحكومة واهتمامها بحاجتهم وتحسين الخدمة المقدمة لهم</p>
        <p>.مساءلة المسؤولين وأدراج النتائج المتعلقة بتحسين الخدمات ضمن نظام تقييم عمل المديرين والمسؤولين والوزارات، كجزء من نظام إدارة وتقييم الأداء الحكومي ككل</p>
    </div>

    <br />
    <hr />
    <h2 style="text-align: right ;" id="bb">:إنشاء عملية مؤسسية للإبداع الحكومي - </h2>
    <br />
    <div style="margin-right:5%;margin-left:5%">
        <p>
            .سيتم توجيه الإبداع لدى الأفراد ومأسسته ليكون في مسار تقديم خدمات متطورة ، عن طريق إنشاء إدارات مسؤولة عن رعاية الإبداع وتقديم التدريبات المعينة عليه، ووضع التشريعات والحوافز المناسبة. ويتم ربط إدارات الإبداع مع جهة مركزية لتجنيبها العمل كجزر معزولة، ولتشجيعها على الاستمرار وتبادل التجارب
        </p>

        <p>
            :وسيتم الاعتماد على وضع الخطط لتلبية متطلبات جائزة الإبداع الحكومي والمتابعة الإشرافية للتطبيق والتصويب (جزء مستحدث ومضاف إلى جائزة الملك عبد الله الثاني لتميّز الأداء الحكومي والشفافية)، وهي أساس ممتاز للبناء عليه، حيث تركز جائزة الإبداع الحكومي على المجالات التالية
        </p>
        <div style="margin-right:2%;margin-left:2%">
            <p>.تحديد رؤية وأهداف واضحة للإبداع على المستوى الإستراتيجي داخل وزارات ومؤسسات القطاع العام- </p>
            <p>.تطوير رؤية واستراتيجيات للإبداع ضمن خطط الوزارة/ المؤسسة وتطبيقها- </p>
            <p>.تعزيز دور القيادة في تقديم القدوة الحسنة وبناء ثقافة مؤسسية داعمة للإبداع- </p>
            <p>.تخطيط وتنمية وتحفيز وتمكين الموارد البشرية للمشاركة في عمليات الإبداع، وتوفير البيئة الملائمة لذلك- </p>
            <p>.تبني مفهوم الإبداع بما يضمن تكاملية الموارد والقدرات مع الشركاء- </p>
            <p>.إدارة الموارد التكنولوجية والمعرفية وتوفير التمويل اللازم لدعم الإبداع والابتكار- </p>
            <p>.(تصميم وإدارة عمليات إدارة الإبداع وإيجاد وتطبيق أنظمة وإجراءات فعالة (تشمل مراحل إيجاد الأفكار الإبداعية، دراستها وتحليل جدواها ومدى ملاءمتها، توفير البيئة والموارد الملائمة لاختبارها، التطبيق الفعلي، وقياس أثر ذلك على مستوى الخدمات المقدمة- </p>
            <p>.الاستثمار في الإبداع لتحقيق نمو طويل الأمد استجابة للظروف الاقتصادية المتغيرة- </p>
            <p>.قياس أثر تطبيق المشاريع الإبداعية على نتائج وأداء الوزارة/ المؤسسة- </p>
        </div>
        <br />
        <h5>:الشفافية والحوكمة</h5>
        <div style="margin-right:2%;margin-left:2%">
            <p>
                .يتم دعم المسارات السريعة لتقديم الشكاوى والاقتراحات من خلال توعية الإدارات بضرورة الالتزام بمبدأي الشفافية والحوكمة، لنيل ثقة كلا المراجعين والموظفين، حيث أن غيابهما يجعل الشكوى من غير جدوى، والاقتراحات مجرد تجميل لأداء مترهل وباهت
            </p>
            <p>
                .لا يمكن تصور وجود الشفافية والحوكمة من دون التتبع الدوري لمدى الالتزام بهما من خلال عملية تدقيق مستقلة، فعالة وذات مرجعية، وتقدم نتائج التدقيق لجهة أعلى تمتلك صلاحية اتخاذ وتنفيذ القرارات الإصلاحية، مهما كانت صعبة أو مؤلمة
            </p>

        </div>
    </div>


    <br />
    <hr />
    <h2 style="text-align: right ;" id="vv">:خدمات صياغة السياسات العامة - </h2>

    <br />
    <div style="margin-right:5%;margin-left:5%">
        <p>
            .لقد أدركت الحكومات على تباين أنظمتها السياسية واتجاهاتها الفكرية أنها بحاجة الى دعم ومساندة شعوبها لما تتخذه من قرارات، وما تقوم به من أعمال متنوعة في جميع الظروف والأوقات. وحتى يتحقق لها ذلك، فأنها أخذت تسعى جاهدة الى حل مشاكلهم والاستجابة لمطالبهم المتنوعة من خلال مجموعة من الخطط والبرامج (يطلق عليها السياسات العامة) الهادفة الى تحقيق جملة من المنافع وتخفيف المعاناة عن الغالبية منهم
        </p>

        <p>
            .أن ما يميز السياسات العامة هو شمولية نتائجها لشرائح واسعة من المجتمع إن لم يكن المجتمع كله، مما يحتم الاهتمام بصياغتها أو رسمها بشكل يؤدي الى زيادة فرص نجاحها وتحقيق المنافع المتوقعة عند تنفيذها، وتقليل احتمالات فشلها الى أقل نسبة ممكنة. فالسياسات العامة التي تصاغ بشكل دقيق بالاعتماد على معلومات ومعطيات صادقة وصحيحة، تجنب المجتمع الكثير من التضحيات والآلام والإحباط الذي يصاحب تنفيذ السياسات العامة الفاشلة أو المرسومة بشكل غير صحيح
        </p>
        <p></p>





    </div>



    <br />
    <br />
    <br />
    <br />

</div>
