
@{
    ViewBag.Title = "E_Markting";
}
<div class="inner-banner ">
    <section class="w3l-breadcrumb text-left">
        <div class="container">
            <ul class="breadcrumbs-custom-path">
            </ul>
        </div>
    </section>
</div>
<br />
<br />
<h2 class="title-big " style="text-align:center"><b>خدمات التسويق الالكتروني </b></h2>



<section class="w3l-aboutblock1" id="about">
    <div class="midd-w3 py-5">
        <div class="container py-lg-5 py-md-3 py-2">
            <div class="row">

                <div class="col-lg-6">
                    <br />
                    <br />
                    <div class="position-relative">
                        <img src="~/Content/images/تسويق الالكتروني.jpg" alt="" class="radius-image img-fluid" />
                    </div>
                </div>
                <div class="col-lg-6 mb-lg-0 mb-md-5 mb-5 align-self">
                    <h3 class="title-big mx-0">الاستشارات التسويقية </h3>
                    <p class="mt-md-4 mt-3">
                        .تعرف الاستشارات التسويقية بأنها مجموعة من الاستشارات المتعلقة بالسوق، المنتج، والعملاء، والتي من خلالها يتم الوصول إلى أفضل الطرق التسويقية للمنتج، الأمر الذي إلى زيادة أرباح الشركة
                    </p>
                    <p class="mt-3">
                        .وتعد الاستشارات التسويقية من أهم وأبرز الأدوات التي تستخدم في عصرنا هذا من أجل زيادة نجاح الشركات، ويجب أن لدى كل شركة مستشار تسويق قادر على النهوض بالشركة وتطويرها، وذلك من خلال دراسته للسوق، وتلبيته لرغبات العملاء، ومعرفة المنافسين، والقدرة على تطوير منتجات الشركة لتتجاوز المنافسين وتعد استشارة تسويقية من أهم الأمور التي يجب أن يقوم بها أصحاب الشركات، وذلك لكي يقوموا ببناء شركاتهم على أسس مدروسة وصحيحة، كما يجب أن يكون في كل شركة من هذه الشركات مستشار تسويق قادر على تقديم المعلومات المفيدة للشركة بشكل مستمر، وقادر على النهوض بها إلى الأمام وساعد الإنترنت في ظهور مجموعة كبيرة من شركات الاستشارات التسويقية والتي تقوم بتقديم عدد كبير من المعلومات للشركات، وتساعدها على دراسة سوق العمل، وذلك لكي تعمل الشركة بشكل مثالي وناجح وتقدم شركات الاستشارات التسويقية مجموعة كبيرة من الخدمات
                    </p>

                </div>

            </div>


        </div>
    </div>
</section>
<hr />

<div class="w3l-servicesblock1" id="why">
    <section id="grids5-block" class="py-5">
        <div class="container py-lg-5 py-md-4">

            <div class="row mt-md-5 mt-4 text-center">
                <div class="col-lg-4 col-md-6">
                    <div class="grids5-info">
                        <a href="#service" class="d-block zoom">

                            <img src="~/Content/Image/تحسين تصميم المواقع.jpg" alt="" class="img-fluid service-image" />
                        </a>
                        <div class="blog-info">
                            <br />
                            <h4><a href="@Url.Action( "Programming_And_Development", "Services")">قسم البرمجة والتطوير </a></h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-md-0 mt-5">
                    <div class="grids5-info">
                        <a href="#service" class="d-block zoom">

                            <img src="~/Content/Image/جرافيك ومنتاج.jpg" alt="" class="img-fluid service-image" />
                        </a>
                        <div class="blog-info">
                            <br />
                            <h4><a href="@Url.Action( "Graphic_Design", "Services")">قسم الجرافيك والمنتاج</a></h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-lg-0 mt-5">
                    <div class="grids5-info">
                        <a href="#service" class="d-block zoom">

                            <img src="~/Content/Image/التسويق الالكتروني.jpg" alt="" class="img-fluid service-image" />
                        </a>
                        <div class="blog-info">
                            <br />
                            <h4><a href="@Url.Action( "Markting", "Services")" >قسم التسويق الالكتروني</a></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="course-meta mt-1" style="text-align:center">

        <a class="grid-link btn btn-success" href=" @Url.Action( "Create", "ContactServices")"> للإتصال بنا   </a>

    </div>


</div>
<hr />


<!-- middle -->
<div class="middle py-5">
    <div class="container pt-lg-2 pb-lg-4 py-4">
        <div class="welcome-left text-center py-lg-4">
            <h3 class="hny-title" style="color:white">أفضل الخدمات المميزة التي نقدمها</h3>
         
        </div>
    </div>
</div>
<!-- //middle -->
<!-- stats -->
<section class="w3_stats py-lg-0 py-5" id="stats">
    <div class="container">
        <div class="w3-stats">
            <div class="row">
                <div class="col-md-3 col-6 mt-md-0 mt-5">
                    <div class="counter">
                        <p class="count-text">إعداد دراسة جدوى التسويقية والمالية للمشروعات</p>
                    </div>
                </div>
                <div class="col-md-3 col-6 mt-md-0 mt-5">
                    <div class="counter">
                      
                        <p class="count-text ">تقييم المشروعات والفرص الاستثمارية</p>
                    </div>
                </div>
                <div class="col-md-3 col-6 mt-md-0 mt-5">
                    <div class="counter">
                        <p class="count-text">تقييم أداء الشركات</p>
                    </div>
                </div>
                <div class="col-md-3 col-6 mt-md-0 mt-5">
                    <div class="counter">
                       
                        <p class="count-text">تفعيل التسويق الإلكتروني</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="w3_stats py-lg-0 py-5" id="stats">
    <div class="container">
        <div class="w3-stats">
            <div class="row">
                <div class="col-md-3 col-6 mt-md-0 mt-5">
                    <div class="counter">
                        <p class="count-text">إعداد الدراسات والأبحاث الميدانية</p>
                    </div>
                </div>
                <div class="col-md-3 col-6 mt-md-0 mt-5">
                    <div class="counter">

                        <p class="count-text ">وضع خطط لتطوير عمل الشركة</p>
                    </div>
                </div>
                <div class="col-md-3 col-6 mt-md-0 mt-5">
                    <div class="counter">
                        <p class="count-text">إعداد استطلاعات الرأي</p>
                    </div>
                </div>
                <div class="col-md-3 col-6 mt-md-0 mt-5">
                    <div class="counter">

                        <p class="count-text">تزويد الشركات بموظفين أكفاء</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //stats -->


<br />
<br />
<br />
<br />

















































































@*<div style="margin-right:10%;margin-left:10%">


        <h2 style="text-align: right ;" id="mm">:أولا:الاستشارات التسويقية - </h2>
        <br />
        <div style="margin-right:5%;margin-left:5%">
            <p>
                .تعرف الاستشارات التسويقية بأنها مجموعة من الاستشارات المتعلقة بالسوق، المنتج، والعملاء، والتي من خلالها يتم الوصول إلى أفضل الطرق التسويقية للمنتج، الأمر الذي إلى زيادة أرباح الشركة
            </p>
            <p>.وتعد الاستشارات التسويقية من أهم وأبرز الأدوات التي تستخدم في عصرنا هذا من أجل زيادة نجاح الشركات، ويجب أن لدى كل شركة مستشار تسويق قادر على النهوض بالشركة وتطويرها، وذلك من خلال دراسته للسوق، وتلبيته لرغبات العملاء، ومعرفة المنافسين، والقدرة على تطوير منتجات الشركة لتتجاوز المنافسين وتعد استشارة تسويقية من أهم الأمور التي يجب أن يقوم بها أصحاب الشركات، وذلك لكي يقوموا ببناء شركاتهم على أسس مدروسة وصحيحة، كما يجب أن يكون في كل شركة من هذه الشركات مستشار تسويق قادر على تقديم المعلومات المفيدة للشركة بشكل مستمر، وقادر على النهوض بها إلى الأمام وساعد الإنترنت في ظهور مجموعة كبيرة من شركات الاستشارات التسويقية والتي تقوم بتقديم عدد كبير من المعلومات للشركات، وتساعدها على دراسة سوق العمل، وذلك لكي تعمل الشركة بشكل مثالي وناجح وتقدم شركات الاستشارات التسويقية مجموعة كبيرة من الخدمات، ومن خلال السطور القادمة سوف نتعرف على أهم وأبرز هذه الخدمات</p>
            <br />
        </div>

        <br />

        <h2 style="text-align: right ;" id="mm">:ثانيا:ادوات التسويق الإلكتروني - </h2>
        <br />
        <div style="margin-right:5%;margin-left:5%">

            <h4>:أولا: قسم البرمجة والتطوير - </h4>
            <div style="margin-right:2%;margin-left:2%">

                <p>
                    .إن الاعتماد على أشخاص غير مؤهلين لتصميم وتطوير المواقع الإلكترونية من الممكن أن يؤدي إلى خسائر كبيرة وفقدان مكانة واسم شركتك بين المنافسين، لذلك فإن الاستعانة بفريق تصميم وتطوير المواقع الإلكترونية لدينا يضمن لك مستوى عال من الاحترافية والكفاءة من خلال الحرص على تواجد جميع عناصر ومعايير تصميم الجرافيك وتطير البرمجيات بناءً على خبرات فريقنا المؤهل الذي يستمع لك ويرشدك نحو آخر التطورات التي من الممكن أن تستفيد منها بل وتوفر عليك الوقت والمال والجهد
                </p>
                <br />

                <br />
                <h5>الادوات المستخدمة لتطوير المواقع</h5>
                <p>ASP.NET -</p>

                <p>php -</p>

                <p>HTML5 -</p>

                <p>CSS -</p>

                <p>Bootstrap -</p>

                <p>JavaScript</p>
                <br />
                <p>: للتواصل معنا  </p>
                <p>mnkgovegy@gmail.com</p>
            </div>
            <br />

            <br />


            <h4>:ثانيا: قسم التصميم الجرافيكي - </h4>
            <div style="margin-right:2%;margin-left:2%">

                <p>
                    .تصميم جرافيك بجودة عالية ومتميزة تتصف بالاحترافية وقدرتها على جذب الكثير من العملاء وضمان توافقها وتناسبها مع التصاميم الأخرى في الموقع وعلى جميع المنصات
                </p>
                <p>
                    .نقوم بتوفير خدمات تصميم الشعار والعلامة التجارية للمشاريع والمواقع الإلكترونية، وبإمكانك الحصول على شعار بتصميم عصري يعكس صورة مميزة عن شركتك من خلال طلب خدمة تصميم الشعار والهوية التجارية
                </p>
                <p>
                    .نتميز بصناعة العلامات التجارية وتصميم الشعارات المميزة كما نضمن لك تصميم علامة تجارية لمشاريعك في عدة مجالات لكي نكون شركاء النجاح لكثير من الشركات اعتمادا على خبرتنا الطويلة في هذا المجال
                </p>
                <p>
                    .إن تصميم الهوية الخاصة بشركتك يعكس المظهر الذي يراه الآخرون فنحن في باششن للسويق نقوم بتصميم الهوية بشكل كامل لشركتك أو موقعك بشكل جذاب ومميز بحيث يحافظ على أساسيات التصميم ومعايير التميز والحداثة، لذا فإن الهوية التعريفية هي الوجه والانطباع الأول الذي يأخذه الناس عن الموسع والشركة فهو من أهم مبادئ التسويق والانتشار في العالم الرقمي وأيضا في مجال الإعلانات والمطبوعات الورقية
                </p>
                <p>
                    ولأن عقل الأنسان يعتمد بنسبة 90% على المؤثرات البصرية والصورية لهذا السبب يستغل أصحاب الأعمال هذا الاعتماد في تصميم الشعارات والإعلانات والجرافيك لجذب العملاء
                    .يمكنك الانضمام إلى مجموعة شركاؤنا وعملاؤنا المميزون من خلال طلب خدماتنا والاستفادة من أفضل العروض على التصاميم المختلفة

                </p>

                <br />
                <br />
                <h5>الادوات المستخدمة لتطوير المواقع</h5>
                <p>تصميم اللوجو -</p>

                <p>تصميم الإعلانات -</p>

                <p>تصميم الاثنوجرافي -</p>

                <p>(تصميم الفيديو التفاعلي (اللواية بورد -</p>

                <p>تصميم فيديو الموش جرافيك -</p>

                <p>تصميم فيديو الطبوغرافي -</p>
                <p>تطوير العلامة التجارية -</p>

            </div>



            <h4>:ثالثا: قسم التسويق الالكتروني - </h4>
            <div style="margin-right:2%;margin-left:2%">

                <p>
                    .أن التخطيط لحملات التسويق الإلكتروني وتهيئة محركات البحث تعمل على تسهيل الوصول إلى الجمهور المستهدف، كما أن استخدام وسائل التواصل الاجتماعي مثل فيسبوكم وتويتر توفر الكثير من الوقت من خلال الإعلانات المختلفة التي تحافظ على وجود الشركة وعلامتها التجارية.
                    نقدم لكم في شركة باششن للتسويق الإلكتروني خدمات التسويق المختلفة مثل الإعلانات المدفوعة والإعلانات المبوبة والتسويق عبر مختلف وسائل التواصل الاجتماعي

                </p>
                <br />
                <h5> الاعلانات المدفوعة</h5>
                <p>
                    .من خلال الإعلانات المدفوعة تصل نسبة الاستهداف إلى 90% كما أنها تضمن ظهور الإعلان بشكل احترافي ومستهدف، وما يميز الإعلانات الممولة على الأنترنت أنه بإمكانك أن تظهر إعلاناتك فقط للمهتمين بالشراء بأسلوب احترافي
                </p>
                <p>
                    .ومما لا شك فيه أن الإعلانات المدفوعة تعمل على تسريع الوصول للموقع الخاص بك وبالاعتماد على محركات البحث التي تتيح لك وضع إعلانك المميز وظهوره في الصفحات الأولى من نتائج البحث، لكن عليك الانتباه إلى خطتك الاستراتيجية للتسويق لتحسين المحتوى الخاص بموقعك لضمان وصول الخدمة بشكل كامل وفي أفضل صورة حتى تكون كفيلة بأن تجذب العملاء لها
                </p>

                <p>
                    .تقدم لك شركة باششن للتسويق خدمة الإعلانات المبوبة والتي تتميز بكثرة واختلاف محتواها وتغيره المستمر كل يوم بواسطة الأعضاء المسجلين في المواقع التي توفر هذه الخدمة وبالتالي تتيح فرصة أكبر للظهور في محركات البحث والبحث من خلال الكلمات الدلالية
                </p>
                <p>
                    .يمكننا كتابة إعلانك بلغة سليمة وبشكل واضح وباستخدام الكلمات الدلالية الخاصة بخدمتك كب يتم تضمينها في محركات البحث، كما يهمنا أن يكون الإعلان بوصف تسويقي يجذب الزائر وأن يندرج الإعلان تحت القسم الذي يتبع له الوصف الخاص بخدمتك، بالإضافة إلى أن كافة بيانات الاتصال الخاصة بك موجودة في صيغة الإعلان ليتمكن الزائر من الوصول الى موقعك بكل سهولة، وكل ما عليك هو انتظار الكثير من العملاء
                </p>

                <br />
                <h5> الاعلانات المبوبة</h5>
                <br />
                <br />
                <h5>الادوات المستخدمة لتطوير المواقع</h5>
                <p>خدمات التسويق عبر مواقع التواصل الاجتماعي -</p>

                <p> SEO خدمات تطوير محركات البحث -</p>

                <p>تخدمات التسويق عبر الإيميل -</p>

                <p>إدارة المواقع الإلكترونية -</p>

                <p>التسويق عبر محركات البحث  -</p>


            </div>


        </div>


    </div>


    <br />

    <br />
    <br />

    <br />*@














