
@{
    ViewBag.Title = "Gov_Consulating";
}
<div class="inner-banner">
    <section class="w3l-breadcrumb text-left">
        <div class="container">
            <ul class="breadcrumbs-custom-path">
    
            </ul>
        </div>
    </section>
</div>
<br />
<br />
<h2 class="title-big " style="text-align:center"><b>استشارات الحوكمة </b></h2>
<br />
<br />

<div style="margin-right:10%;margin-left:10%">

    <section class="w3l-features-4" style="text-align:right">
        <div class="features4-block pb-5">
            <div class="container pb-lg-5 pb-md-4 pb-3">
                <div class="row features4-grids" style="text-align:right;text-align:right">
                    <div class="col-xl-3 col-sm-6 mt-xl-0 mt-4">
                        <div class="features4-grid" style="margin-bottom:30px">

                            <a class="grid-linkl" href="#cc" style="color:white;font-size:large;margin-bottom:10px"> صياغة السياسات </a>
                        </div>
                    </div>
                    <div class="col-xl-3 col-sm-6 mt-xl-0 mt-4">
                        <div class="features4-grid">

                            <a class="grid-linkl" href="#vv" style="color:white;font-size:large;margin-bottom:10px"> استشارات البيئة  </a>
                        </div>
                    </div>
                    <div class="col-xl-3 col-sm-6 mt-xl-0 mt-4">
                        <div class="features4-grid">

                            <a class="grid-linkl" href="#bb" style="color: white; font-size: large; margin-bottom: 10px"> استشارات حوكمة خدمات الإدارة </a>
                        </div>
                    </div>
                    <div class="col-xl-3 col-sm-6 mt-sm-0 mt-4">
                        <div class="features4-grid ">

                            <a class="grid-linkl" href="#mm" style="color: white; font-size: large; margin-bottom: 10px">  استشارات الخدمات القطاعية </a>
                        </div>
                    </div>
                    <div class="col-xl-3 col-sm-6 mt-sm-0 mt-4">
                        <div class="features4-grid">

                            <a class="grid-linkl" href="#nn" style="color: white; font-size: large; margin-bottom: 10px"> استشارات تقييم نظم الحوكمة<br /> </a>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </section>
    <br />
    <br />
    <br />

    <hr />
    <h2 style="text-align: right ;" id="mm">:الخدمات القطاعية - </h2>
    <br />
    <div style="margin-right:5%;margin-left:5%">
        <p>
            .شهد عالم الأعمال الكثير من الحالات لشركات كبرى واجهت مشكلات مالية وإدارية، وفي الكثير من تلك الحالات، كان سبب حدوث المشاكل وتفاقمها هو نقص الشفافية وضعف سياسات الإفصاح

            .يُعَدُّ الفشل الهيكلي أو الوظيفي لمجلس الإدارة وغياب سياسات وضوابط التدقيق والمراجعة الداخلية وضعف المراجعة الخارجية عوامل تسهم باستمرار في زيادة مخاطر فشل وانهيار المؤسسات

            .ومع تحوُّل العديد من شركات المنطقة إلى شركات متعددة الجنسيات تصبح حوكمة الشركات تحديداً ذات أهمية بالغة في حماية الاستثمارات وبناء شركات قوية ذات تنافسية عالمية قادرة على الاستفادة من أحدث المستجدات

            .وسواءً كانت الشركات تمر بمرحلة نمو سريع أو كانت تستعد لمعالجة التحديات والاهتمامات الجوهرية لمجلس الإدارة والإدارة العليا من حيث الالتزام بالممارسة الجيدة والحوكمة، فقد اكتسب معهد حوكمة سمعته بوصفه رائداً إقليمياً في تقديم المساعدة للشركات التي تمر بمواقف مماثلة

            .نحن قمنا بتطوير عملية تقييم هيكلية مختبرة وخطة للمراجعة والتحسين، ويتم كل ذلك بالتعاون الوثيق مع العملاء
        </p>


        <br />
        <h5>-:اولا:استشارات الشركات القابضة</h5>
        <div style="margin-right:2%;margin-left:2%">
            <p>
                .تظهر حوكمة الشركات في الشركات القابضة، أو "حوكمة الشركات التابعة" ، كأحد الموضوعات الرئيسية في نظرية وممارسة حوكمة الشركات. لقد كُتب الكثير عن تطبيق الحوكمة في الشركات وتحدياتها. والحقيقة أن تحديات تطبيق الحوكمة أكبر بكثير وأكثر تعقيدًا في الشركات التي لديها شركات تابعة. حيث انه في هذه الحالة لا يكفي اختزال حوكمة الشركات في الطريقة التي يعمل بها مجلس الإدارة في المقر الرئيسي، بل يمتد ذلك لكيفية حوكمة الشركات التابعة أيضاً
                .والشركات التابعة هي سمة مميزة لهياكل الشركات الحديثة، حيث تعمل الشركات عبر أنظمة قانونية ومجالات عمل متعددة
                .بشكل مبسط، تتعلق الحوكمة الفرعية بكيفية وضع وتطبيق نظم للحوكمة تتسم بالتناسق والفعالية بين الشركة القابضة والشركات التابعة لها. كما تتمحور الحوكمة حول موازنة أهداف أعمال المجموعة وفي نفس الوقت الاعتراف باستقلالية الفروع
            </p>
            <br />
            <p>:خدمات معهد حوكمة للشركات القابضة</p>
            <div style="margin-right:2%;margin-left:2%">
                <ol>
                    <li>	.المقارنة القياسية المعيارية وتحليل الفجوات في ممارسات الحوكمة في الشركات القابضة وتوابعها -</li>
                    <li>	.تقييم أداء مجلس الإدارة للمجموعة -</li>
                    <li>	.صياغة دليل الحوكمة مع السياسات الرئيسية للمجموعة وخطط تطوير الحوكمة -</li>
                    <li>	.تطوير أطر حوكمة شاملة -</li>
                    <li>	.الدعم أثناء تطبيق الحوكمة -</li>
                    <li>	.التدريب -</li>
                </ol>
            </div>
        </div>
        <br />
        <h5>-:ثانياا:استشارات الشركات الصغيرة والمتوسطة وغير المدرجة بالبرصة</h5>
        <div style="margin-right:2%;margin-left:2%">
            <p>
                .ارتبطت حوكمة الشركات تقليدياً بالشركات الكبرى المدرجة في أسواق المال، ومع ذلك فهناك إدراك متنامٍ بأن حوكمة الشركات يمكن أن تلعب دوراً حاسماً في دعم نمو واستدامة الشركات الصغيرة والمتوسطة
                وفي واقع الأمر فإن حوكمة الشركات تعد البوابة التي ينبغي للمشروعات الصغيرة والمتوسطة أن تمر من خلالها لكي تنمو أو تدرج في سوق المال.
                .وعلى عكس المساهمين في الشركات المدرجة في سوق المال؛ فإن المستثمرين في الشركات الصغيرة والمتوسطة والشركات غير المدرجة أمامهم خيارات محدودة في التصرف في أسهمهم وبيع ملكياتهم إذا اختلفوا مع سياسات الشركة وإستراتيجيتها
                .مع ذلك فإن حوكمة الشركات لا تتعلق فقط بالمستثمرين وحمايتهم بل إنها تتعلق بالقيادة والأداء، ففي شركة ذات حوكمة جيدة يقدم إطار الحوكمة وضوحاً للأدوار والمسؤوليات داخل الشركة ويضمن تكريس الموارد بصفة حصرية من أجل تحقيق أهدافها المحددة
                .إن فهم وتنفيذ إطار جيد لحوكمة الشركات يوفر للشركات الصغيرة والمتوسطة طريقاً نموذجياً لدمج ممارسات إدارة أفضل ومراقبة فعَّالة وآليات سيطرة تؤدي إلى توفير فرص للنمو والتمويل وإستراتيجيات الخروج وتحسين الأداء
            </p>
            <br />
            <p>:خدمات معهد حوكمة للشركات الصغيرة والمتوسطة والشركات غير المدرجة في البورصة</p>
            <div style="margin-right:2%;margin-left:2%">
                <ol>
                    <li>	.المقارنة القياسية المعيارية وتحليل الفجوات في ممارسات الحوكمة في الشركات القابضة -</li>
                    <li>	.تقييم أداء مجلس الإدارة	تطوير أطر حوكمة شاملة -</li>
                    <li>	.صياغة دليل حوكمة الشركات مع السياسات الرئيسية -</li>
                    <li>	.صياغة خطط تطوير حوكمة الشركات -</li>
                    <li>	.الدعم أثناء تطبيق -</li>
                    <li>	.التدريب -</li>
                </ol>
            </div>
        </div>
        <br />
        <h5>-:(ثالثا:استشارات حوكمة البنوك والمؤسسات المالية (التقليدية والإسلامية</h5>
        <div style="margin-right:2%;margin-left:2%">
            <p>
                :حكومة الشركات بالمؤسسات المالية تعد ذات أهمية بالغة للاقتصاد الكلي فضلاً عن المؤسسات المالية ذاتها. هناك اثنين من الفوارق الأساسية التي تميز بين حوكمة المؤسسات المالية وحوكمة المؤسسات غير المالية
            </p>
            <p>.أولاً: لدى المؤسسات المالية أطراف معنيون وأصحاب مصالح يفوقون كثيراً المؤسسات الأخرى، كما أن مصالح هذه الأطراف قد تتباين كثيراً من طرف لآخر</p>
            <p>.ثانياً: تعد أعمال المؤسسات المالية أكثر إبهاماً وتعقيداً وأسرع تغيراً وهو ما يضع مطالب أكثر على عاتق مجالس إداراتها ومديريها التنفيذيين وعلى الوظائف الرئيسية بها مثل إدارة المخاطر. ومن خلال الاستفادة من خبرات معهد حوكمة في قطاع البنوك التقليدية فضلاً عن التمويل الإسلامي فقد طور معهد حوكمة خدمات مصممة خصيصاً لتناسب احتياجات ذلك القطاع الاستراتيجي</p>
            <br />
            <p>:استشارات الحوكمة للبنوك و المؤسسات المالية</p>
            <div style="margin-right:2%;margin-left:2%">
                <ol>
                    <li>	.تقييم مجلس الإدارة -</li>
                    <li>	.مقارنة وتحليل الثغرات في ممارسات الحوكمة -</li>
                    <li>	.وضع دليل للحوكمة مع السياسات الرئيسية لها -</li>
                    <li>	.صياغة خطط تطوير الحوكمة -</li>
                    <li>	.تطوير إطار حوكمة البنوك الإسلامية -</li>
                    <li>	.التدريب -</li>
                </ol>
            </div>
        </div>
        <br />
        <h5>-:رابعا:استشارات خدمات الحوكمة للشركات العائلية</h5>
        <div style="margin-right:2%;margin-left:2%">
            <p>
                .تعد حوكمة مؤسسات الأعمال المملوكة للعائلات صعبة ومختلفة عن حوكمة الأنواع الأخرى من الشركات. ويعود ذلك بصورة أساسية إلى التداخل بين العائلة والشركة. لذا تحتاج الشركات المملوكة للعائلات إلى حوكمة الشركات فضلاً عن "حوكمة العائلة" نفسها. وتشير "حوكمة العائلة" إلى الآليات الحاكمة لعلاقة العائلة بالشركة. ومن الواضح أن الشركات المملوكة للعائلات التي تتمتع بالقدرة على تنظيم وتوضيح العلاقة بين العائلة والشركة هي فقط التي تستمر إلى ما بعد الجيل الثالث. ويشير الواقع من حولنا بوضوح لوقوع الكثير من العائلات في نزاعات قضائية وخلافات تؤدي لتدمير ثروات العائلة وشركاتها
            </p>
            <p>. تشكل الشركات العائلية أقدم وأكثر أشكال شركات الأعمال هيمنةً في العالم، وهي تتمتع غالباً بالعديد من المزايا عن نظرائها من الشركات غير العائلية. وبسبب وجود عنصر العائلة فعلى الأرجح أن تكون الثقة أكثر داخل الشركة وغالباً ما يكون هناك فهم شائع للقيم المشتركة. كما تتمتع الكثيرُ من الشركات العائلية أيضاً بمستويات عالية من الالتزام والولاء للشركة، ومع ذلك فإن الرابطة العاطفية التي تساعد أعمال العائلة في الازدهار والنجاح قد تصبح أيضاً مصدراً للتدخُّل غير المنظم والفشل؛ فالقلق وخاصة في الأجيال اللاحقة يكون مصدره أن شؤون العائلة قد تتداخل مع أعمالها، ويكون التحدي أمام أعمال العائلة هو كيفية الحفاظ على نقاط قواها الجوهرية وتهميش نقاط ضعفها ويكون الاستعداد للتعقيدات المستقبلية هو التحدي الأساس</p>
            <p>.تبدأ حوكمة الشركات من الاعتراف بأن لكل من الشركة والعائلة احتياجات وأهدافا خاصة قد تتناقض في بعض الأحيان وما يحدد نجاح الشركة هو مدى قدرة الشركة والعائلة على الموازنة بين المطالب المتناقضة لهما. بالإضافة إلى الخدمات الاستشارية لحوكمة الشركات المقدمة إلى جانب الأعمال، نقدم خدمات استشارية لحوكمة العائلة</p>
            <br />
            <p>:خدمات الحوكمة للشركات العائلية</p>
            <div style="margin-right:2%;margin-left:2%">
                <ol>
                    <li>	.وضع دساتير العائلة -</li>
                    <li>	.حوكمة الأصول/ الفروع -</li>
                    <li>	.(وضع أطر حوكمة العائلة(مثل مجلس العائلة وجمعية العائلة -</li>
                    <li>	.تسهيل اجتماعات العائلة -</li>
                    <li>	.تخطيط تعاقب السلطة -</li>
                    <li>	.التدريب للأجيال الحالية والمستقبلية -</li>
                    <li>	.تنظيم جولات دراسية للتعلم والمقارنة مع أفضل الممارسات -</li>
                </ol>
            </div>
        </div>
        <br />
        <h5>-:خامسا:استشارات حوكمة الشركات المملوكة للدولة</h5>
        <div style="margin-right:2%;margin-left:2%">
            <p>
                .تلعب الشركات المملوكة للدولة دوراً مهماً في اقتصاد أية دولة لأنها غالباً ما تكون حاضرة في قطاعات مهمة إستراتيجياً مثل المصارف والطاقة والبنية التحتية والمرافق العامة والاتصالات. وتعد الشركات المملوكة للدولة الكيانات الأساسية التي توفر الكثير من السلع والخدمات الاجتماعية لضمان جودة حياة المواطنين. لذا يؤدي الأداء الجيد للشركات المملوكة للدولة إلى تحسن الاقتصاد الكلي فضلاً عن الأداء المالي الحكومي. وبذلك فإنه يعد من الضروري لصُنَّاع السياسة ضمان أن تخضع هذه الشركات لحوكمة جيدة
            </p>
            <br />
            <p>:خدمات معهد حوكمة للشركات المملوكة للدولة</p>
            <div style="margin-right:2%;margin-left:2%">
                <ol>
                    <li>	.تقييم حوكمة الشركات -</li>
                    <li>	.حوكمة الأصول/ الفروع -</li>
                    <li>	.وضع نظم عمل حوكمة الشركات -</li>
                    <li>	.وضع أدلة استرشادية للحوكمة -</li>
                    <li>	.وضع مدونات قواعد السلوك -</li>
                    <li>	.موجز مجالس الإدارة -</li>
                    <li>	.المساعدة على تنفيذ اطر حوكمة الشركات المناسبة -</li>
                    <li>	.المقارنة بالنظراء دولياً وإقليمياً ومحلياً -</li>
                    <li>	.إجراء استطلاعات على مستوى الدول -</li>
                    <li>	.تنظيم جولات دراسية للتعلم والمقارنة مع أفضل الممارسات -</li>
                </ol>
            </div>
        </div>
    </div>

    <br />
    <br />
    <br />

    <hr />

    <h2 style="text-align: right ;" id="nn">:استشارات تقييم نظم الحوكمة -</h2>
    <br />
    <div style="margin-right:5%;margin-left:5%">
        <p>.شهد عالم الأعمال الكثير من الأمثلة لشركات كبرى تواجه مشاكل مالية وإدارية. وفي الكثير من الحالات كان نقص الشفافية وضعف سياسات الإفصاح سبباً في حدوث تلك الأزمات</p>
        <p>.عدم فعالية مجلس الإدارة وغياب سياسات وضوابط التدقيق والمراجعة الداخلية أو الخارجية تعتبر عوامل تساهم باستمرار في زيادة مخاطر الفشل</p>
        <p>.ومع تحوُّل شركات المنطقة إلى شركات متعددة الجنسيات تصبح هناك أهمية متزايدة لحوكمة الشركات في حماية الاستثمارات وبناء شركات ذات تنافسية عالمية قادرة على الاستفادة من أحدث الابتكارات</p>
        <p>.سواء كانت الشركة تشهد نموًا سريعًا أو ترغب في معالجة الاهتمامات الأساسية لمجلس الإدارة والإدارة العليا للالتزام بالممارسات الجيدة والحوكمة، اكتسب معهد "حوكمة" سمعته كقائد إقليمي يقدم المساعدة للشركات في مناصب مماثلة</p>
        <p>.ونقوم في معهد حوكمة بتقديم خدمة تقييم نظم الحوكمة وهياكل الحوكمة مع وضع خطة للتحسين. يتم التنفيذ بشكل سري وبتعاون وثيق مع العملاء سواءً الشركات أو المؤسسات الحكومية</p>

    </div>
    <br />
    <br />
    <br />

    <hr />
    <h2 style="text-align: right ;" id="bb">:استشارات حوكمة خدمات مجالس الإدارة -</h2>
    <br />
    <div style="margin-right:5%;margin-left:5%">
        <h5>-:اولا:استشارات تقييم مجلس الإدارة</h5>
        <div style="margin-right:2%;margin-left:2%">
            <p>
                .يلعب مجلس الإدارة دوراً محورياً في حوكمة الشركات، ولذا يقدم معهد حوكمة خدمات تقييم مجلس الإدارة التي يتم تصميمها لكل مجلس على حدى. وتساعد هذه الخدمة مجالس الإدارة بشكل كبير على تحسين أدائها وتعزيز عملية صنع القرار بشكل جماعي بناء
            </p>
            <p>.ومن الممكن أن تقوم الشركة بتقيماً مفيداً لمجلس الإدارة والذي يتم تصميمه لمساعدة أعضاء مجلس الإدارة على تقييم الدوافع الأساسية لتحقيق الفعالية القصوى في المجلس، بالإضافة إلى تحقيق مشاركة أفضل وتحسين للأداء بشكل عام</p>
            <p>.يتشرف فريق معهد حوكمة على تبسيط عملية التقييم من خلال الحل الآلي الذي يوضح حجم أي مشكلات تم تحديدها وما الذي يسببها، حتى لو كانت التعليقات قليلة. ويمكنك مقارنة النتائج والتعمق فيها للحصول على رؤى أعمق حول مدى نجاح تطبيقك للحوكمة. إنها أداة مفيدة للغاية وفي رأينا أكثر فاعلية بكثير من الاستبيانات التقليدية. مما سيساعد مجلس الإدارة على تحديد الفجوات الحالية والعمل بفاعلية على سدها</p>
            <br />
            <p>:تتميز خدمتنا بأنها</p>
            <div style="margin-right:2%;margin-left:2%">
                <ol>
                    <li>	.سرية للغاية -</li>
                    <li>	.تركز على تحديد نقاط القوة ومجالات التحسين -</li>
                    <li>	.فاعلية الخدمات المقدمة -</li>
                    <li>	.استنادا إلى النتائج، نقدم التوصيات التي تؤدي إلى زيادة فعالية المجلس -</li>

                </ol>
            </div>
        </div>
        <br />
        <h5>-:ثانيا:استشارات موجز مجلس الإدارة</h5>
        <div style="margin-right:2%;margin-left:2%">
            <p>
                .نظراً لكثرة مشاغل أعضاء مجلس الإدارة، يُعقد موجز مجلس الإدارة عادةً قبيل اجتماع مجلس الإدارة لتمكين أعضاءه من مواكبة أحدث التطورات في حوكمة الشركات وتحديث معلوماتهم حول الموضوعات ذات الصلة
            </p>
            <p>
                .نقدم خدمة موجز مجلس الإدارة في جميع دول المنطقة حيث يمتد اللقاء مدة من ساعة إلى ساعتين يتم خلالها استعراض ومناقشة بعض قضايا الحوكمة العامة أو الخاصة بالشركة مع أعضاء مجلس الإدارة
            </p>
            <br />
            <p>:أمثلة للموضوعات المقدمة</p>
            <div style="margin-right:2%;margin-left:2%">
                <ol>
                    <li>	.(تحديث مستجدات القوانين والتعليمات الرقابية (المحلية والدولية -</li>
                    <li>	.دور مجلس الإدارة ومسؤولياته -</li>
                    <li>	.دور مجلس الإدارة في وضع الإستراتيجية -</li>
                    <li>	.دور المجلس في إدارة المخاطر -</li>
                    <li>	.الامتثال و آداب المهنة -</li>
                    <li>	.فعالية مجلس الإدارة -</li>
                    <li>	.الاستدامة -</li>
                    <li>	.لجنة التدقيق الفعالة -</li>
                    <li>	.الأمن الإلكتروني -</li>
                </ol>
            </div>
        </div>

        <br />
        <h5>-:ثالثا:الترويج لأعضاء مجلس الإدارة المعتمدين</h5>
        <div style="margin-right:2%;margin-left:2%">
            <p>
                .مجلس الإدارة هو العمود الفقري للحوكمة. يبدأ نظام الحوكمة الجيد أو الضعيف في أي مؤسسة من مجلس إدارتها. فالمجلس هو المسؤول عن وضع الشركة على المسار الصحيح، والتأكد من بقائها على هذا المسار، ضعف المجلس وعدم احترافيته يعني ضعف منظومة الحوكمة في المؤسسة بالكامل
            </p>

            <p>
                .يمتلك مجلس الإدارة ملفات الإستراتيجية والمخاطر في الشركة. لذلك فإن وجود مجلس الإدارة المناسب أمر محوري لنجاح المؤسسة واستدامتها على المدى الطويل
            </p>

            <p>
                .مجلس الإدارة الناجح والمناسب حالياً يختلف عن مجلس الإدارة الذي كان ناجحاً ومناسباً من عدة سنوات مضت، كذلك فإن مجلس الإدارة المناسب في المستقبل سيختلف تماماً المجلس المناسب اليوم. لذا عندما يفكر المساهمون والمؤسسون والشركات العائلية والشركات الصغيرة والمتوسطة في إنشاء أو تغيير مجالس الإدارة، فإنهم يواجهون بعض التحديات الحقيقية في تحديد وإيجاد الأشخاص المناسبين المطلوبين لمجلس الإدارة اليوم وغدا
            </p>

            <p>
                .ويمكن لنا أن نساعدكم في مواجهة ذلك اتحدي بنجاح. سواءً كنت تبحث عن مجلس إدارة كامل أو مجلس استشاري. لا يقتصر الأمر على امتلاكنا قاعدة بيانات جيدة لأعضاء مجلس الإدارة المؤهلين والمعتمدين من مختلف الخلفيات والمجموعات العرقية والمواقع الجغرافية والفئات العمرية؛ ولكن يمكننا أيضًا مساعدتك في عملية الاختيار نفسها. سينصحك معهد حوكمة بأفضل هيكل تنظيمي لمجلس إداراتك وسنساعدك في العثور على المرشحين المناسبين
            </p>

            <p>

            </p>
        </div>

        <br />
        <h5>-:رابعا:مصفوفة تطور أداء مجلس الإدارة</h5>
        <div style="margin-right:2%;margin-left:2%">
            <p>
                .إن فعالية مجلس إدارة الشركة أمر بالغ الأهمية لضمان اتباع الشركة لإستراتيجية عمل سليمة طويلة الأجل يتم تنفيذها في بيئة تتمتع بنظام جيد لإدارة المخاطر. لذا فقد أصبح تقييم مجلس الإدارة بشكل دوري جزء مهم من منظومة الحوكمة المؤسسية الجيدة من أجل التحسين المستمر في أداء مجلس الإدارة. لكن من خلال خبرتنا، لاحظنا أن معظم طرق التقييم المستخدمة حالياً تركز بشكل كبير على الماضي وأحياناً يكون أعضاء مجلس الإدارة في نهاية عملية التقييم غير ملمين بالتغييرات التي يجب إجراؤها فيما يخص الممارسات والطريقة التي يعمل بها المجلس
            </p>
            <p>
                .لذلك فقد قام معهد حوكمة بتطوير مصفوفة قياس تطور أداء مجلس الإدارة كأداة عملية تركز على المستقبل وليس الماضي. وقد اشترك في تطوير المصفوفة أعضاء مجلس إدارة ذوي خبرة مستمدة من عملهم كأعضاء مجلس إدارة في العديد من الدول المختلفة
            </p>
            <p>
                .فنحن نؤمن أنه عندما يتم تقديم تصور لما يجب أن تكون عليه "الأهداف" بالإضافة إلى العناصر والممارسات السلوكية اللازمة لتحقيق تلك الأهداف، يكون من الأيسر على مجلس الإدارة تحديد ما يجب عليه القيام به. فالمصفوفة بذلك هي أداة تصف أهداف الحوكمة المؤسسية التي يمكن أن يحددها أعضاء المجلس لأنفسهم
            </p>

            <p>
                .تهدف منهجيتنا إلى إشراك جميع الأعضاء في الطرق التي يمكن أن يتطور بها المجلس ويتقدم في المجالات المهمة، والتي يمكن أن يكون لها تأثير إيجابي على أداء الشركة وتنافسيتها
            </p>
        </div>



    </div>
    <br />
    <br />
    <br />

    <hr />
    <h2 style="text-align: right ;" id="vv">:استشارات البيئة والمسؤولية الاجتماعية والحوكمة -</h2>
    <br />
    <div style="margin-right:5%;margin-left:5%">
        <h5>مؤشر البيئة والمسؤولية الاجتماعية والحوكمة</h5>
        <div style="margin-right:2%;margin-left:2%">
            <p>
                .أطلقنا مؤشر إقليمي في مجال البيئة والمسؤولية الاجتماعية والحوكمة و استجابةً للظروف الاقتصادية المتغيرة وللممارسات التي لعبت دوراً في إطلاق شرارة الأزمة المالية العالمية يتزايد تركيز مؤسسات الاستثمار على المخاطر بعيدة الأجل في استثماراتهم وتلعب عوامل البيئة والمسؤولية الاجتماعية والحوكمة دوراً مهماً في القيام بتلك التقييمات. فقد حددت مؤشرات الأداء المالي تقليدياً ما إذا كان يتم الاستثمار في إحدى الشركات أم لا. لكن المؤشرات غير المالية تشير أيضاً إلى توقعات الأداء المستقبلي للشركات
            </p>
            <p>
                .ويوفر مؤشر البيئة والمسؤولية الاجتماعية والحوكمة حافزاً للشركات المدرجة في الأسواق الصاعدة لاتباع ممارسات أعمالٍ مستدامةٍ من خلال عمليات أفضل بيئياً واجتماعياً فضلاً عن تحسين أنظمة الحوكمة بها. الغرض من مؤشر البيئة والمسؤولية الاجتماعية والحوكمة هو تحسين صورة الشركات التي تؤدي أداءً حسناً عبر المحددات الثلاثة لممارسات البيئة والمسؤولية الاجتماعية والحوكمة عند مقارنتها بنظرائها في السوق. تقوم المنهجية على الأساس الذي تم تطويره من أجل مؤشر ستاندرد آند بورز بالهند
            </p>
            <p>
                .ويغطي هذا المؤشر المملكة العربية السعودية والإمارات العربية المتحدة والكويت وقطر والبحرين وعُمان والأردن ومصر ولبنان والمغرب وتونس، ويوفر معلومات نوعية للمستثمرين الذين يتطلعون إلى تحليل أداء الشركات المدرجة من حيث الاستدامة. مكونات المؤشر مستمدة من الشركات المدرجة في البورصة ومختارة بواسطة رأس المال الكلي للسوق. تخضع هذه الأسهم بعد ذلك لعملية تصفية مبنية على ممارسات إفصاح الشركة بخصوص البيئة والمجتمع والحوكمة في المجال العام. وتشمل الأمثلة على قنوات الإفصاح في المجال العام التقارير السنوية ومواقع الإنترنت والنشرات وعمليات الإفصاح الموجودة في أسواق المال
            </p>
            <p>
                .لا يؤدي المؤشر فقط إلى تقوية وتعزيز نجاح الأعمال المستدامة بيئياً والمسؤولة اجتماعياً في منطقة الشرق الأوسط وشمال أفريقيا ولكن من خلال جذب المستثمرين المؤسسين الدوليين طويلي الأجل الباحثين عن الاستثمار في الشركات المسؤولة اجتماعياً في الأسواق الصاعدة، ويساعد المؤشر على تقليل تقلبات الأسعار في أسواق الأسهم الإقليمية
            </p>

        </div>



    </div>
    <br />
    <br />
    <br />

    <hr />
    <h2 style="text-align: right ;" id="cc">: صياغة السياسات -</h2>
    <br />
    <div style="margin-right:5%;margin-left:5%">
        <h5>:السياسة المتعلقة بالمشروعات المملوكة للدولة</h5>
        <div style="margin-right:2%;margin-left:2%">
            <p>.لدى معهد حوكمة خبرة كبيرة في العمل مع مختلف أنواع العملاء في تطوير سياسات الحوكمة الخاصة بهم. نصمم السياسات والإجراءات المتعلقة بالحوكمة لمساعدة المؤسسات في الوصول إلى نظام حوكمة متكامل. وبجانب الوثائق المتعلقة بالحوكمة المطلوبة. في هذه العملية، نضع في اعتبارنا شيئين؛ الإطار التنظيمي للمؤسسة وأفضل الممارسات العالمية</p>
            <p>.(KPIs)نحن ندرب ونعمل مع العملاء ونوضح دورة تطوير السياسة بأكملها بدءًا من تحديد الحاجة إلى السياسة، وتحديد النتائج، وجمع المعلومات، والاستشارة والمراجعة باستخدام مؤشرات الأداء الرئيسية الضرورية  </p>

            <h5>-:اولا:البنوك</h5>
            <div style="margin-right:2%;margin-left:2%">
                <p>
                    .شاركنا في تطوير بيان السياسة حول تحسين حوكمة الشركات للبنوك في الشرق الأوسط وشمال أفريقيا والذي تم إطلاقه في نوفمبر 2009م. واقترح بيان السياسة توصيات لصناع السياسة والمشرفين على البنوك واتحادات البنوك والبنوك الفردية في المنطقة
                </p>
            </div>


            <h5>-:ثانيا:نموذج الإعسار</h5>
            <div style="margin-right:2%;margin-left:2%">
                <p>
                    .شاركنا في تطوير بيان السياسة حول تحسين حوكمة الشركات للبنوك في الشرق الأوسط وشمال أفريقيا والذي تم إطلاقه في نوفمبر 2009م. واقترح بيان السياسة توصيات لصناع السياسة والمشرفين على البنوك واتحادات البنوك والبنوك الفردية في المنطقة
                </p>
            </div>


            <h5>-:ثالثا:الملكية الخاصة</h5>
            <div style="margin-right:2%;margin-left:2%">
                <p>
                    .قمنا بتطوير مسودة إرشادات لصناعة الملكية الخاصة في المنطقة
                </p>
                <p>
                    :الهدف من مسودة الإرشادات هذه ينقسم إلى شقين
                </p>
                <p>
                    .أولاً: دعم شركات الملكية الخاصة في دمج حوكمة الشركات في ممارساتها ضمن حافظة أوراق شركاتها من خلال صياغة مبادئ حوكمة الشركات الملائمة للشركات المدعومة بالملكية الخاصة في منطقة الشرق الأوسط وشمال أفريقيا
                </p>
                <p>
                    .ثانياً: تحديد أفضل ممارسات الحوكمة داخل شركات الملكية الخاصة نفسها وخاصة فيما يتعلق بإجراءات بناء ثقة المساهمين مثل الشفافية والإفصاح
                    .يعتقد فريق العمل المعني بالملكية الخاصة أن الملكية الخاصة في الشرق الأوسط وشمال أفريقيا يجب أن تلعب دوراً هاماً في دمج ممارسات حوكمة الشركات الجيدة في حافظة شركاتها من حيث هياكل مجالس الإدارة والإجراءات الإدارية ومتطلبات الإفصاح وحماية حقوق الأقليات. هذه العوامل تسهل عملية التحول من شركات عائلية إلى مؤسسات ومن شركات غير مدرجة إلى شركات مدرجة على البورصة يستفيد منها كافة الأطراف والجهات المعنية حيث أظهرت استطلاعات الرأي أن المستثمرين مستعدون لدفع فرق قيمة للشركات التي تمارس حوكمة جيدة

                </p>

            </div>

            <h5>-:رابعا:التامين</h5>
            <div style="margin-right:2%;margin-left:2%">
                <p>
                    .شاركنا في تطوير بيان السياسة حول تحسين حوكمة الشركات للبنوك في الشرق الأوسط وشمال أفريقيا والذي تم إطلاقه في نوفمبر 2009م. واقترح بيان السياسة توصيات لصناع السياسة والمشرفين على البنوك واتحادات البنوك والبنوك الفردية في المنطقةقمنا بوضع تصور حول سياسة تصنيع التأمين العربية. وتحدد التوصيات الرئيسية لقطاع التأمين في منطقة الشرق الأوسط وشمال أفريقيا
                </p>
                <p>
                    .وثيقة سياسة حوكمة الشركات لصناعة التأمين في منطقة الشرق الأوسط وشمال أفريقيا
                </p>
            </div>


            <h5>-:خامسا:السياسة المتعلقة بالمشروعات المملوكة للدولة</h5>
            <div style="margin-right:2%;margin-left:2%">
                <p>
                    .في ظل الدور الهام الذي تلعبه ملكية الدولة في دول منطقة الشرق الأوسط وشمال أفريقيا، هناك حاجة لوضع سياسة واضحة لإصلاح المشروعات تعتمد على تحسين حوكمة الشركات بالمشروعات المملوكة للدولة. وتعتبر هذه السياسة هامة للمشروعات التي سيتم خصخصتها فضلاً عن المشروعات الباقية تحت الملكية الكلية أو الجزئية للدولة. ومن خلال تحسين عملية اتخاذ القرار والسيطرة بواسطة الدولة يمكن لحوكمة الشركات أن تحسن من أداء وتنافسية المشروعات المملوكة للدولة وتهيئة مجال العمل بين المشروعات المملوكة للدولة والمشروعات الخاصة. في العديد من الحالات يمكن للمشروعات المملوكة للدولة ذات الأداء المحسن أن يكون لها نتائج مالية إيجابية طالما أنه في الغالب يتم مطالبة ميزانيات الحكومة بالتدخل لإنقاذ الشركات الكبرى المملوكة للدولة
                </p>
                <p>
                    .الحوكمة الجيدة توفر شفافية أفضل في هياكل وعمليات الشركات ويقلل من فرص التدخل السياسي في التفاعلات بين الحكومة والإدارة والأطراف المعنية. وبذلك فإن الحوكمة الجيدة في المشروعات المملوكة للدولة تؤدي إلى حوكمة جيدة في القطاع العام بصفة عامة وإلى تقليل الفساد
                </p>
                <p>
                    .وثيقة سياسة حوكمة الشركات لصناعة التأمين في منطقة الشرق الأوسط وشمال أفريقيامع تشكيل فريق عمل معني بحوكمة الشركات في المشروعات المملوكة للدولة حيث قام هذا الفريق بعمل استبيان على أساس الإرشادات التي اعتمدتها منظمة التعاون الاقتصادي والتنمية حول حوكمة الشركات للمشروعات المملوكة للدولة والذي تم تعميمه على 12 منطقة بالشرق الأوسط وشمال أفريقيا (وزارات وهيئات تنظيمية في البحرين ومصر والعراق والأردن والكويت ولبنان والمغرب وعمان وباكستان وقطر والإمارات العربية المتحدة واليمن) لدراسة اطر حوكمة الشركات بالمشروعات المملوكة للدولة في منطقة الشرق الأوسط وشمال أفريقيا
                </p>
            </div>





        </div>










    </div>
</div>



<br />
<br />
<br />
<br />
<br />

