
@{
    ViewBag.Title = "Man_Dev_Consulating";
}
<div class="inner-banner">
    <section class="w3l-breadcrumb text-left">
        <div class="container">
            <ul class="breadcrumbs-custom-path">
                
            </ul>
        </div>
    </section>
</div>
<br />
<br />
<h2 class="title-big " style="text-align:center"><b>الاستشارات الإدارية </b></h2>
<br />
<br />
<div style="margin-right:10%;margin-left:10%">

    <section class="w3l-features-4" style="text-align:right">
        <div class="features4-block pb-5">
            <div class="container pb-lg-5 pb-md-4 pb-3">
                <div class="row features4-grids" style="text-align:right;text-align:right">

                    <div class="col-xl-3 col-sm-6 mt-xl-0 mt-4">
                        <div class="features4-grid" style="margin-bottom:30px">

                            <a class="grid-linkl" href="#zz" style="color:white;font-size:large;margin-bottom:10px"> إعادة الهيكلة المالية </a>
                        </div>
                    </div>
                    <div class="col-xl-3 col-sm-6 mt-xl-0 mt-4">
                        <div class="features4-grid" style="margin-bottom:30px">

                            <a class="grid-linkl" href="#xx" style="color:white;font-size:large;margin-bottom:10px"> دراسة الفرص الاستثمارية </a>
                        </div>
                    </div>
                    <div class="col-xl-3 col-sm-6 mt-xl-0 mt-4">
                        <div class="features4-grid" style="margin-bottom:30px">

                            <a class="grid-linkl" href="#cc" style="color:white;font-size:large;margin-bottom:10px"> إعداد دراسات الجدوى </a>
                        </div>
                    </div>
                    <div class="col-xl-3 col-sm-6 mt-xl-0 mt-4">
                        <div class="features4-grid">

                            <a class="grid-linkl" href="#vv" style="color:white;font-size:large;margin-bottom:10px"> إعداد البحوث والتقارير  </a>
                        </div>
                    </div>
                    <div class="col-xl-3 col-sm-6 mt-xl-0 mt-4">
                        <div class="features4-grid">

                            <a class="grid-linkl" href="#bb" style="color: white; font-size: large; margin-bottom: 10px"> استشارات تطبيق سياسات الحوكمة </a>
                        </div>
                    </div>
                    <div class="col-xl-3 col-sm-6 mt-sm-0 mt-4">
                        <div class="features4-grid ">

                            <a class="grid-linkl" href="#nn" style="color: white; font-size: large; margin-bottom: 10px">  استشارات إعداد الخطط الإستراتيجية </a>
                        </div>
                    </div>
                    <div class="col-xl-3 col-sm-6 mt-sm-0 mt-4">
                        <div class="features4-grid">

                            <a class="grid-linkl" href="#mm" style="color: white; font-size: large; margin-bottom: 10px"> استشارات هيكلة المؤسسات وإصلاحها ودمجها</a>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </section>


    <br />
    <br />
    <br />
    <hr />
    <br />

    <h2 style="text-align: right ;" id="mm">:استشارات هيكلة المؤسسات وإصلاحها ودمجها - </h2>
    <br />
    <div style="margin-right:5%;margin-left:5%">

        <p>
            .يقصد بها مجموعة الإستراتيجيات والخطط التي تضعها الإدارة لتحسين كفاءة الأداء كما يعتبرها المختصون جزءا متمما لإعادة التأهيل وتتضمن إعادة الهيكلة الإدارية قرارات فصل بعض الوحدات أو تصفية بعضها أو دمجها كما تعرف إعادة الهيكلة الإدارية بإنها مجموعة الأنشطة والعمليات التي تصمم لزيادة كفاءة التنظيم ورفع وتحسين القدرة التنافسية للمنظمة ويتوقف عملية إعادة الهيكلة الإدارية على حجم وطبيعة المشاكل التى تواجهها المنظمة
        </p>
    </div>
    <br />
    <br />
    <hr />
    <br />

    <h2 style="text-align: right ;" id="nn">:استشارات إعداد الخطط الإستراتيجية - </h2>
    <br />
    <div style="margin-right:5%;margin-left:5%">

        <p>
            .الخطة الإستراتيجية هي الخطة التي تضعها المؤسسة من أجل تحديد كيفية الوصول إلى الأهداف وهي العملية التي يتمكن أعضاء مجلس الإدارة بواسطتها تحديد الواجهة المستقبلية ووضع تصور عن الغد البعيد لتعظيم الأرباح
        </p>
        <p>
            .التخطيط الإستراتيجي هو القدرة على التنبؤ والقدرة على الاستفادة من الفرص المتاحة وتوخى الحظر من التهديدات التي تتعلق بالبيئة الداخلية للمؤسسة والبيئة الخارجية وهو خطة موحدة متكاملة تربط فيما بين المزايا التنافسية للمؤسسة والتحديات التي تواجها وإيضاح القرارات التي يتخذها واضعي الإستراتيجية لتحقيق الأهداف
        </p>
    </div>
    <br />
    <br />
    <hr />
    <br />

    <h2 style="text-align: right ;" id="bb">:استشارات تطبيق سياسات الحوكمة - </h2>
    <br />
    <div style="margin-right:5%;margin-left:5%">

        <p>
            .الحوكمة هي القواعد والنظم والإجراءات التي تحقق أفضل حماية وتوازن بين مصالح مديري الشركة والمساهمين فيها وأصحاب المصالح الأخرى المرتبطة أي تعني وجود نظم تحكم العلاقات بين الأطراف الأساسية في الشركة ( أعضاء مجلس الإدارة - الإدارة التنفيذية - المساهمين – إلخ ) بهدف تحقيق الشفافية والعدالة ومكافحه الفساد ومنح حق مسألة الشركة لحماية المساهمين والتأكد من أن الشركة تعمل علي تحقيق أهدافها واستراتيجيتها الطويلة الأمد - وهي مجموعة من القوانين والنظم التي تهدف إلى تحقيق الجودة والتميز و اختيار الأساليب المناسبة والفعالة لتحقيق خطط وأهداف الشركة أو المؤسسة ، كما تشمل مقومات تقوية المؤسسة على المدى البعيد وتحديد المسئول والمسئوليات
        </p>




    </div>
    <br />
    <br />
    <hr />
    <br />

    <h2 style="text-align: right ;" id="vv">:إعداد البحوث والتقارير - </h2>
    <br />
    <div style="margin-right:5%;margin-left:5%">

        <p>
            .إعداد التغطيات البحثية للشركات المقيدة بالبورصة التي نقوم برعايتها-
        </p>
        <p>
            .إعداد تقارير عن كافة قطاعات الاستثمار في السوق المحلي والدولي -
        </p>
        <p>
            .إعداد تقارير لتحديد اتجاهات أسواق المال والأوراق المالية -
        </p>

        <p>:مما يسهم في </p>
        <div style="margin-right:2%;margin-left:2%">
            <p>
                .اولا:التعرف على الفرص المتاحة أمام الشركات في السوق المحلي وسوق التصدير -
            </p>
            <p>
                .ثانيا:تقييم الخطط الخاصة بتقديم منتجات جديدة في السوق  -
            </p>
            <p>
                .ثالثا:قياس مدى فعالية أجهزة البيع  -
            </p>
            <p>
                .رابعا:قياس مدي إرضاء العملاء  -
            </p>
            <p>
                .خامسا:قياس مدي فاعلية الدعايات والإعلان  -
            </p>
            <p>
                .سادسا:يشمل ذلك تزويد العميل بتصور كامل من النواحي التسويقية للمشروع موضوع الدراسة لتمكين العميل من اتخاذ قراره على أساس سليمر -
            </p>
            <p>
                .سابعا:دراسة عن سوق السلعة أو الخدمة المراد تقديمها تهدف إلى تحديد الجدوى التسويقية للمشروع  -
            </p>


        </div>
    </div>

    <br />
    <br />
    <hr />
    <br />

    <h2 style="text-align: right ;" id="cc">:إعداد دراسات الجدوى - </h2>
    <br />
    <div style="margin-right:5%;margin-left:5%">

        <p>
            .إعداد كافة دراسات الجدوى الإقتصادية لعملائها في مختلف مجالات الاستثمار حتى يتسنى لهم البدء في استثماراتهم عل أسس علمية محددة .وتقوم الشركة ايضا بإعداد الدراسات التسويقية وتحديد الملامح العامة للسوق
        </p>

        <h4>:دراسة الجدوى الإقتصادية </h4>
        <div style="margin-right:2%;margin-left:2%">

            <p>
                .هي أسلوب علمي لتقدير احتمالات نجاح فكرة استثمارية قبل التنفيذ الفعلي ، و ذلك في ضوء قدرة المشروع أو الفكرة الاستثمارية على تحقيق أهداف معينة للمستثمر، و بالتالي فإن دراسة الجدوى الاقتصادية تعد أداة عملية تجنب المشروع المخاطر و تحمل الخسائر ، حيث تسبق الدراسة أي قرار استثماري كما تسبق الدراسة عمليات التشغيل . وبناء عليه تعد دراسة الجدوى الاقتصادية هي الوسيلة التي يتم من خلالها اتخاذ القرار للاستثمار المناسب الذي يحقق الأهداف المنشودة
            </p>
        </div>
    </div>

    <br />
    <br />
    <hr />
    <br />

    <h2 style="text-align: right ;" id="xx">:دراسة الفرص الاستثمارية - </h2>
    <br />
    <div style="margin-right:5%;margin-left:5%">

        <p>
            .إعداد ملفات الفرص الاستثمارية المتنوعة التي يتم عرضها تفصيلياً للاختيار فيما بين الفرصة والفرصة البديلة
        </p>

        <p>
            .الاستثمار عبارة عن رأس المال المستخدم في إنتاج أو توفير الخدمات أو السلع وقد يكون استثمارا ثابتاً كالأسهم الممتازة والسندات أو استثمارا متغيراً مثل ملكية الممتلكات ويعرف الاستثمار بأنه الأصول التي يشتريها الأفراد والمنشآت من أجل الحصول على دخل في الوقت الحالي أو المستقبلي حيث يهدف الاستثمار الي توفير الحماية للمال من انخفاض قوته الشرائية الناتجة عن التضخم حيث أن يعتمد على تحقيق أرباح رأسمالية وعوائد تحافظ على القوة الشرائية لمال المستثمر والمحافظة على استمرار التنمية في الثروة المالية
        </p>

        <p>
            .تحقيق العوائد المالية المقبولة بالتزامن مع الزيادة في قيمة رأس المال للوصول إلى أكبر قيمة من الدخل الجاري وهي تركيز المستثمرين على الاستثمار التي تحقق لهم أكبر العوائد المالية دون الاهتمام بأي اعتبارات أُخرى مثل نسبة المخاطرة
        </p>

        <p>
            .توفير الحماية للدخل من الضرائب حيث يسعى الاستثمار إلى إفادة المستثمرين من مزايا الضرائب والناتجة عن التشريعات المطبقة وفي حال تم توظيف الاستثمار في مجال غير مناسب قد يؤدي ذلك إلى التعرض لنسبة مرتفعة من الضرائب
        </p>

        <p>
            .الوصول إلى أكبر نمو من الثروة ويهتم بتحقيق هذا الهدف من الاستثمار المضاربون في السوق المالي حيث يحرصون على اختيار الاستثمارات مرتفعة المخاطرة ويقبلون كافة الأشياء المترتبة على اختياراتهم
        </p>

        <p>
            .تأمين المستقبل وهي الاستثمارات المرتبطة بالأفراد الذين وصلوا إلى سن التقاعد حيث يكون هدف الاستثمار هنا هو تأمين المستقبل من خلال استثمار المال في شراء الأوراق المالية التي تقدم عوائد متوسطة مع أقل درجة من المخاطرة
        </p>

        <p>
            .لذا يتوجب على المستثمر دراسة الفرص الاستثمارية والبدائل من اجل اختيار افضل الفرص الاستثمارية في حدود الإمكانيات والموارد المتاحة
        </p>


    </div>
    <br />
    <br />
    <hr />
    <br />

    <h2 style="text-align: right ;" id="zz">:إعادة الهيكلة المالية - </h2>
    <br />
    <div style="margin-right:5%;margin-left:5%">

        <p>
            .هي إجراء التصويب اللازم للهياكل الفنية والاقتصادية والمالية للمنشأة على النحو الذي يمكن الشركة من البقاء في مجتمع الأعمال بل والاستمرار بنجاح وتحقيق عائد مناسب ويتم ذلك من خلال دراسة عملية للمشكلات الإقتصادية والتمويلية التي تواجه المنشأة وتتحقق قدرة المنشأة على الاستمرار مالياً عندما يكون هيكلها المالي متوازناً وموقف السيولة والتدفقات النقدية مطمئناً ويتوفر للشركة المقدرة على خدمة الديون وتحقيق عائد مناسب على حقوق الملكية
        </p>


        <h4>:أسباب إعادة الهيكلة </h4>
        <div style="margin-right:2%;margin-left:2%">
            <p>:يمكن تلخيص أهم المشكلات التي تؤثر على نشاط المنشأة وحيويتها ووجودها في مجتمع الأعمال على النحو التالي</p>
            <p>
                .مشكلات متعلقة بكفاءة الإدارة وحسن تصرفاتها أو أمانتها ونزاهتها -
            </p>
            <p>
                .مشكلات متعلقة بالتدفقات النقدية الواردة والصادرة ووجود عجز وعدم توازن بينهما -
            </p>
            <p>
                .انخفاض فائض العمليات الجارية وعدم مناسبة معدل العائد السنوي على رأس المال المستثمر  -
            </p>
            <p>
                .تآكل حقوق الملكية بسبب استمرار نزيف الخسائر   -
            </p>
            <p>
                .تراكم المخزون وعدم وجود طلب على المنتجات لأسباب كارتفاع التكلفة أو عدم تطور السلعة المنتجة  -
            </p>
            <p>
                .زيادة في حجم الديون المتأخرة للبنوك وغيرها من الدائنين واستمرار حساب الفوائد بشكل يؤثر على نتيجة العمليات وبصفة عامة فإن المنشأة تعكس اختلال بزيادة نسبة الديون إلى حقوق الملكية -
            </p>
            <p>
                .مشكلات متعلقة بانسياب وتوافر المواد والمستلزمات الأساسية للإنتاج أو سحب المساعدات الفنية التي يتم الاعتماد عليها   -
            </p>

            <p>
                .مشكلات متعلقة بزيادة معدل دوران العمالة أو عدم كفاءتها    -
            </p>

            <p>
                .مشكلات متعلقة بمواجهة أحداث مستقبلية متوقعة كعدم تناسب الموارد المالية مع التوسعات أو كظهور منافسين من غير الممكن الثبات أمامهم 	أو ما إلى ذلك   -
            </p>

        </div>
    </div>
    <br />
    <br />
    <br />
    <br />





</div>







