
@{
    ViewBag.Title = "Our_Partners";
}
<div class="inner-banner">
    <section class="w3l-breadcrumb text-left">
        <div class="container">
            <ul class="breadcrumbs-custom-path">
     
            </ul>
        </div>
    </section>
</div>

<br />
<h2 class="title-big " style="text-align:center;font:bold"> شركائنا</h2>

<br />
<div class="w3l-servicesblock1" id="why">
    <section id="grids5-block" class="py-5" style="background-color:aliceblue">
        <div class="container py-lg-5 py-md-4">

            <div class="row mt-md-5 mt-4 text-center">
                <div class="col-lg-4 col-md-6">
                    <div class="grids5-info">
                        <a href="#" class="d-block zoom">


                            <img src="~/Content/partners_Images/WhatsApp Image 2022-05-06 at 4.43.41 PM.jpeg" alt="" class="img-fluid service-image" />

                        </a>

                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-md-0 mt-5">
                    <div class="grids5-info">
                        <a href="#" class="d-block zoom">


                            <img src="~/Content/partners_Images/WhatsApp Image 2022-05-06 at 4.45.07 PM.jpeg" alt="" class="img-fluid service-image" />


                        </a>

                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-lg-0 mt-5">
                    <div class="grids5-info">
                        <a href="#" class="d-block zoom">


                            <img src="~/Content/partners_Images/WhatsApp Image 2022-05-06 at 4.46.53 PM.jpeg" alt="" class="img-fluid service-image" />

                        </a>

                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


@*دي للصورتين*@
<section class="w3l-aboutblock1" id="about" style="background-color:aliceblue">
    <div class="midd-w3 py-5">
        <div class="container py-lg-5 py-md-3 py-2">
            <div class="row">

                <div class="col-lg-6">

                    <div class="position-relative">

                        <img src="~/Content/partners_Images/33.jpeg" alt="" class="radius-image img-fluid" />

                    </div>
                </div>
                <div class="col-lg-6 mb-lg-0 mb-md-5 mb-5 align-self">
                    <div class="position-relative">
                        <img src="~/Content/partners_Images/Screenshot 2022-05-07 034323.jpg" alt="" class="radius-image img-fluid" />
                    </div>

                </div>

            </div>


        </div>
    </div>
</section>





<div class="w3l-servicesblock1" id="why">
    <section id="grids5-block" class="py-5" style="background-color:aliceblue">
        <div class="container py-lg-5 py-md-4">

            <div class="row mt-md-5 mt-4 text-center">
                <div class="col-lg-4 col-md-6">
                    <div class="grids5-info">
                        <a href="#" class="d-block zoom">
                            <img src="~/Content/partners_Images/ممم3.jpeg" alt="" class="img-fluid service-image" />

                        </a>

                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-md-0 mt-5">
                    <div class="grids5-info">
                        <a href="#" class="d-block zoom">
                            <img src="~/Content/partners_Images/ممم2.jpeg" alt="" class="img-fluid service-image" />


                        </a>

                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-lg-0 mt-5">
                    <div class="grids5-info">
                        <a href="#" class="d-block zoom">
                            <img src="~/Content/partners_Images/ممم1.jpeg" alt="" class="img-fluid service-image" />

                        </a>

                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="w3l-servicesblock1" id="why">
    <section id="grids5-block" class="py-5" style="background-color:aliceblue">
        <div class="container py-lg-5 py-md-4">

            <div class="row mt-md-5 mt-4 text-center">
                <div class="col-lg-4 col-md-6">
                    <div class="grids5-info">
                        <a href="#" class="d-block zoom">
                            <img src="~/Content/partners_Images/ككك3.jpeg" alt="" class="img-fluid service-image" />
                        </a>

                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-md-0 mt-5">
                    <div class="grids5-info">
                        <a href="#" class="d-block zoom">

                            <img src="~/Content/partners_Images/ككك2.jpeg" alt="" class="img-fluid service-image" />
                        </a>

                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-lg-0 mt-5">
                    <div class="grids5-info">
                        <a href="#" class="d-block zoom">
                            <img src="~/Content/partners_Images/ككك1.jpeg" alt="" class="img-fluid service-image" />
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </section>
</div>




<div class="w3l-servicesblock1" id="why">
    <section id="grids5-block" class="py-5" style="background-color:aliceblue">
        <div class="container py-lg-5 py-md-4">

            <div class="row mt-md-5 mt-4 text-center">
                <div class="col-lg-4 col-md-6">
                    <div class="grids5-info">
                        <a href="#" class="d-block zoom">
                            <img src="~/Content/partners_Images/صصص3.jpeg" alt="" class="img-fluid service-image" />
                        </a>

                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-md-0 mt-5">
                    <div class="grids5-info">
                        <a href="#" class="d-block zoom">

                            <img src="~/Content/partners_Images/صصص2.jpeg" alt="" class="img-fluid service-image" />
                        </a>

                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-lg-0 mt-5">
                    <div class="grids5-info">
                        <a href="#" class="d-block zoom">
                            <img src="~/Content/partners_Images/صصص1.jpeg" alt="" class="img-fluid service-image" />
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </section>
</div>






<div class="w3l-servicesblock1" id="why">
    <section id="grids5-block" class="py-5" style="background-color:aliceblue">
        <div class="container py-lg-5 py-md-4">

            <div class="row mt-md-5 mt-4 text-center">
                <div class="col-lg-4 col-md-6">
                    <div class="grids5-info">
                        <a href="#" class="d-block zoom">
                            <img src="~/Content/partners_Images/وووووووووووو3.jpeg" alt="" class="img-fluid service-image" />
                        </a>

                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-md-0 mt-5">
                    <div class="grids5-info">
                        <a href="#" class="d-block zoom">

                            <img src="~/Content/partners_Images/وووووووو2.jpeg" alt="" class="img-fluid service-image" />
                        </a>

                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-lg-0 mt-5">
                    <div class="grids5-info">
                        <a href="#" class="d-block zoom">
                            <img src="~/Content/partners_Images/ووووووووو1.jpeg" alt="" class="img-fluid service-image" />
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </section>
</div>








@*دي للصورتين*@
<section class="w3l-aboutblock1" id="about" style="background-color:aliceblue">
    <div class="midd-w3 py-5">
        <div class="container py-lg-5 py-md-3 py-2">
            <div class="row">

                <div class="col-lg-6">

                    <div class="position-relative">

                        <img src="~/Content/partners_Images/22222222222.jpeg" alt="" class="radius-image img-fluid" />

                    </div>
                </div>
                <div class="col-lg-6 mb-lg-0 mb-md-5 mb-5 align-self">
                    <div class="position-relative">
                        <img src="~/Content/partners_Images/11111111111.jpeg" alt="" class="radius-image img-fluid" />
                    </div>

                </div>

            </div>


        </div>
    </div>
</section>




<div class="w3l-servicesblock1" id="why">
    <section id="grids5-block" class="py-5" style="background-color:aliceblue">
        <div class="container py-lg-5 py-md-4">

            <div class="row mt-md-5 mt-4 text-center">
                <div class="col-lg-4 col-md-6">
                    <div class="grids5-info">
                        <a href="#" class="d-block zoom">
                            <img src="~/Content/partners_Images/خخخخخخخ3.jpeg" alt="" class="img-fluid service-image" />
                        </a>

                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-md-0 mt-5">
                    <div class="grids5-info">
                        <a href="#" class="d-block zoom">

                            <img src="~/Content/partners_Images/خخخخ2.jpeg" alt="" class="img-fluid service-image" />
                        </a>

                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-lg-0 mt-5">
                    <div class="grids5-info">
                        <a href="#" class="d-block zoom">
                            <img src="~/Content/partners_Images/خخخخخ1.jpeg" alt="" class="img-fluid service-image" />
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div style="margin-left: 10%; margin-right: 10%; background-color: aliceblue">
    <img src="~/Content/partners_Images/momo.jpeg" alt="" class="img-fluid service-image" />
</div>
<br />
<br />