
@{
    ViewBag.Title = "Our_Previous_Work";
}
<div class="inner-banner">
    <section class="w3l-breadcrumb text-left">
        <div class="container">
            <ul class="breadcrumbs-custom-path">
                
            </ul>
        </div>
    </section>
</div>
<br />
<h2 class="title-big " style="text-align:center;font:bold"> سابقة اعمالنا</h2>

<br />


<div>

    <h2 style="text-align:center;font:bold">دوراتنا في جامعة القاهرة </h2>

    <div class="w3l-servicesblock1" id="why">
        <section id="grids5-block" class="py-5" style="background-color:aliceblue">
            <div class="container py-lg-5 py-md-4">

                <div class="row mt-md-5 mt-4 text-center">
                    <div class="col-lg-4 col-md-6">
                        <div class="grids5-info">
                            <a href="#" class="d-block zoom">

                                <img src="~/Content/Our_Work_Images/111.JPG" alt="" class="img-fluid service-image" />

                            </a>

                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mt-md-0 mt-5">
                        <div class="grids5-info">
                            <a href="#" class="d-block zoom">
                                <img src="~/Content/Our_Work_Images/333.JPG" alt="" class="img-fluid service-image" />



                            </a>

                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mt-lg-0 mt-5">
                        <div class="grids5-info">
                            <a href="#" class="d-block zoom">

                                <img src="~/Content/Our_Work_Images/222.JPG" alt="" class="img-fluid service-image" />

                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>


    @*دي للصورتين*@
    <section class="w3l-aboutblock1" id="about" style="background-color:aliceblue">
        <div class="midd-w3 py-5">
            <div class="container py-lg-5 py-md-3 py-2">
                <div class="row">

                    <div class="col-lg-6">

                        <div class="position-relative">

                            <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/v-ukn4qCBqk?rel=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                        </div>
                    </div>
                    <div class="col-lg-6 mb-lg-0 mb-md-5 mb-5 align-self">
                        <div class="position-relative">

                            <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/POhOy3KhoAM?rel=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                        </div>

                    </div>

                </div>


            </div>
        </div>
    </section>

    <section class="w3l-aboutblock1" id="about" style="background-color:aliceblue">
        <div class="midd-w3 py-5">
            <div class="container py-lg-5 py-md-3 py-2">
                <div class="row">

                    <div class="col-lg-6">

                        <div class="position-relative">
                            <img src="~/Content/Our_Work_Images/444.JPG" alt="" class="img-fluid service-image" />

                        </div>
                    </div>
                    <div class="col-lg-6 mb-lg-0 mb-md-5 mb-5 align-self">
                        <div class="position-relative">
                            <img src="~/Content/Our_Work_Images/555.JPG" alt="" class="img-fluid service-image" />

                        </div>

                    </div>

                </div>


            </div>
        </div>
    </section>

    <hr />
</div>

<br />
<div>

    <h2 style="text-align:center;font:bold">دوراتنا في جامعة عين شمس  </h2>

    <div class="w3l-servicesblock1" id="why">
        <section id="grids5-block" class="py-5" style="background-color:aliceblue">
            <div class="container py-lg-5 py-md-4">

                <div class="row mt-md-5 mt-4 text-center">
                    <div class="col-lg-4 col-md-6">
                        <div class="grids5-info">
                            <a href="#" class="d-block zoom">
                                <img src="~/Content/Our_Work_Images/WhatsApp Image 2020-01-25 at 9.06.55 PM (1).jpeg" alt="" class="img-fluid service-image" />

                            </a>

                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mt-md-0 mt-5">
                        <div class="grids5-info">
                            <a href="#" class="d-block zoom">
                                <img src="~/Content/Our_Work_Images/WhatsApp Image 2020-01-25 at 9.06.55 PM.jpeg" alt="" class="img-fluid service-image" />



                            </a>

                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mt-lg-0 mt-5">
                        <div class="grids5-info">
                            <a href="#" class="d-block zoom">
                                <img src="~/Content/Our_Work_Images/WhatsApp Image 2020-01-25 at 9.06.57 PM (1).jpeg" alt="" class="img-fluid service-image" />

                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>


    @*دي للصورتين*@
    <section class="w3l-aboutblock1" id="about" style="background-color:aliceblue">
        <div class="midd-w3 py-5">
            <div class="container py-lg-5 py-md-3 py-2">
                <div class="row">

                    <div class="col-lg-6">

                        <div class="position-relative">

                            <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/5BRQZkuU2zI?rel=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-lg-0 mb-md-5 mb-5 align-self">
                        <div class="position-relative">

                            <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/WgA8STOMMS4?rel=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>

                    </div>

                </div>


            </div>
        </div>
    </section>


    <div class="w3l-servicesblock1" id="why">
        <section id="grids5-block" class="py-5" style="background-color:aliceblue">
            <div class="container py-lg-5 py-md-4">

                <div class="row mt-md-5 mt-4 text-center">
                    <div class="col-lg-4 col-md-6">
                        <div class="grids5-info">
                            <a href="#" class="d-block zoom">
                                <img src="~/Content/Our_Work_Images/WhatsApp Image 2020-01-25 at 9.07.02 PM.jpeg" alt="" class="img-fluid service-image" />

                            </a>

                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mt-md-0 mt-5">
                        <div class="grids5-info">
                            <a href="#" class="d-block zoom">
                                <img src="~/Content/Our_Work_Images/WhatsApp Image 2020-01-25 at 9.07.03 PM.jpeg" alt="" class="img-fluid service-image" />



                            </a>

                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mt-lg-0 mt-5">
                        <div class="grids5-info">
                            <a href="#" class="d-block zoom">
                                <img src="~/Content/Our_Work_Images/WhatsApp Image 2020-01-25 at 9.08.53 PM.jpeg" alt="" class="img-fluid service-image" />

                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>


    <hr />
</div>

<br />

<div>

    <h2 style="text-align:center;font:bold">نشاطنا مع الملحقية الثقافية السعودية  </h2>

    <div class="w3l-servicesblock1" id="why">
        <section id="grids5-block" class="py-5" style="background-color:aliceblue">
            <div class="container py-lg-5 py-md-4">

                <div class="row mt-md-5 mt-4 text-center">
                    <div class="col-lg-4 col-md-6">
                        <div class="grids5-info">
                            <a href="#" class="d-block zoom">
                                <img src="~/Content/Our_Work_Images/DSC_1682.JPG" alt="" class="img-fluid service-image" />
                            </a>

                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mt-md-0 mt-5">
                        <div class="grids5-info">
                            <a href="#" class="d-block zoom">


                                <img src="~/Content/Our_Work_Images/DSC_1703.JPG" alt="" class="img-fluid service-image" />
                            </a>

                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mt-lg-0 mt-5">
                        <div class="grids5-info">
                            <a href="#" class="d-block zoom">
                                <img src="~/Content/Our_Work_Images/DSC_1760.JPG" alt="" class="img-fluid service-image" />
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>



    <div class="w3l-servicesblock1" id="why">
        <section id="grids5-block" class="py-5" style="background-color:aliceblue">
            <div class="container py-lg-5 py-md-4">

                <div class="row mt-md-5 mt-4 text-center">
                    <div class="col-lg-4 col-md-6">
                        <div class="grids5-info">
                            <a href="#" class="d-block zoom">
                                <img src="~/Content/Our_Work_Images/DSC_1862.JPG" alt="" class="img-fluid service-image" />
                            </a>

                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mt-md-0 mt-5">
                        <div class="grids5-info">
                            <a href="#" class="d-block zoom">

                                <img src="~/Content/Our_Work_Images/DSC_1892.JPG" alt="" class="img-fluid service-image" />

                            </a>

                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mt-lg-0 mt-5">
                        <div class="grids5-info">
                            <a href="#" class="d-block zoom">
                                <img src="~/Content/Our_Work_Images/DSC_1916.JPG" alt="" class="img-fluid service-image" />
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>


    <hr />
</div>

<br />


<div>

    <h2 style="text-align:center;font:bold">نشاطنا جامعة القاهرة كلية تمريض </h2>

    <div class="w3l-servicesblock1" id="why">
        <section id="grids5-block" class="py-5" style="background-color:aliceblue">
            <div class="container py-lg-5 py-md-4">

                <div class="row mt-md-5 mt-4 text-center">
                    <div class="col-lg-4 col-md-6">
                        <div class="grids5-info">
                            <a href="#" class="d-block zoom">

                                <img src="~/Content/Our_Work_Images/aaaa.jpeg" alt="" class="img-fluid service-image" />
                            </a>

                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mt-md-0 mt-5">
                        <div class="grids5-info">
                            <a href="#" class="d-block zoom">

                                <img src="~/Content/Our_Work_Images/ddddd.jpeg" alt="" class="img-fluid service-image" />

                            </a>

                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mt-lg-0 mt-5">
                        <div class="grids5-info">
                            <a href="#" class="d-block zoom">

                                <img src="~/Content/Our_Work_Images/ffffff.jpeg" alt="" class="img-fluid service-image" />
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>


    @*دي للصورتين*@
    <section class="w3l-aboutblock1" id="about" style="background-color:aliceblue">
        <div class="midd-w3 py-5">
            <div class="container py-lg-5 py-md-3 py-2">


                <div class="col-lg-6">

                    <div class="position-relative">

                        <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/v-ukn4qCBqk?rel=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                    </div>
                </div>



            </div>
        </div>
    </section>


    <div class="w3l-servicesblock1" id="why">
        <section id="grids5-block" class="py-5" style="background-color:aliceblue">
            <div class="container py-lg-5 py-md-4">

                <div class="row mt-md-5 mt-4 text-center">
                    <div class="col-lg-4 col-md-6">
                        <div class="grids5-info">
                            <a href="#" class="d-block zoom">
                                <img src="~/Content/Our_Work_Images/fffffg.jpeg" alt="" class="img-fluid service-image" />
                            </a>

                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mt-md-0 mt-5">
                        <div class="grids5-info">
                            <a href="#" class="d-block zoom">

                                <img src="~/Content/Our_Work_Images/ggggg.jpeg" alt="" class="img-fluid service-image" />
                            </a>

                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mt-lg-0 mt-5">
                        <div class="grids5-info">
                            <a href="#" class="d-block zoom">
                                <img src="~/Content/Our_Work_Images/sssss.jpeg" alt="" class="img-fluid service-image" />

                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <hr />
</div>

<br />

<div>

    <h2 style="text-align:center;font:bold">برامجنا مع مشيخة الازهر</h2>

    <div class="w3l-servicesblock1" id="why">
        <section id="grids5-block" class="py-5" style="background-color:aliceblue">
            <div class="container py-lg-5 py-md-4">

                <div class="row mt-md-5 mt-4 text-center">
                    <div class="col-lg-4 col-md-6">
                        <div class="grids5-info">
                            <a href="#" class="d-block zoom">

                                <img src="~/Content/Our_Work_Images/IMG_0753.JPG" alt="" class="img-fluid service-image" />
                            </a>

                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mt-md-0 mt-5">
                        <div class="grids5-info">
                            <a href="#" class="d-block zoom">

                                <img src="~/Content/Our_Work_Images/IMG_0842.JPG" alt="" class="img-fluid service-image" />

                            </a>

                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mt-lg-0 mt-5">
                        <div class="grids5-info">
                            <a href="#" class="d-block zoom">

                                <img src="~/Content/Our_Work_Images/IMG_0871.JPG" alt="" class="img-fluid service-image" />
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <hr />
</div>

<br />

<div>

    <h2 style="text-align:center;font:bold">نشاطنا مع جامعة الدول العربية</h2>

    <div class="w3l-servicesblock1" id="why">
        <section id="grids5-block" class="py-5" style="background-color:aliceblue">
            <div class="container py-lg-5 py-md-4">

                <div class="row mt-md-5 mt-4 text-center">
                    <div class="col-lg-4 col-md-6">
                        <div class="grids5-info">
                            <a href="#" class="d-block zoom">

                                <img src="~/Content/Our_Work_Images/mmmm.JPG" alt="" class="img-fluid service-image" />
                            </a>

                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mt-md-0 mt-5">
                        <div class="grids5-info">
                            <a href="#" class="d-block zoom">

                                <img src="~/Content/Our_Work_Images/nnnnn.JPG" alt="" class="img-fluid service-image" />

                            </a>

                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mt-lg-0 mt-5">
                        <div class="grids5-info">
                            <a href="#" class="d-block zoom">

                                <img src="~/Content/Our_Work_Images/bbbb.JPG" alt="" class="img-fluid service-image" />
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <hr />
</div>

<br />