
@{
    ViewBag.Title = "Programming_And_Development";
}
<div class="inner-banner">
    <section class="w3l-breadcrumb text-left">
        <div class="container">
            <ul class="breadcrumbs-custom-path">
            </ul>
        </div>
    </section>
</div>
<br />
<h2 class="title-big " style="text-align:center;font:bold">قسم البرمجة والتطوير </h2>


<section class="w3l-aboutblock1" id="about">

    <div class="midd-w3 py-5">
        <div class="container py-lg-5 py-md-3 py-2">
            <div class="course-meta mt-1" style="text-align:center">

                <a class="grid-link btn btn-success" href=" @Url.Action( "Create", "ContactServices")"> للإتصال بنا   </a>

            </div>
            <div class="row">


                <div class="col-lg-6 mb-lg-0 mb-md-5 mb-5 align-self">
                    <h3>الاستشارات التسويقية </h3>
                    <p class="mt-md-4 mt-3">
                        إن الاعتماد على أشخاص غير مؤهلين لتصميم وتطوير المواقع الإلكترونية من الممكن أن يؤدي إلى خسائر كبيرة وفقدان مكانة واسم شركتك بين المنافسين، لذلك فإن الاستعانة بفريق تصميم وتطوير المواقع الإلكترونية لدينا يضمن لك مستوى عال من الاحترافية والكفاءة من خلال الحرص على تواجد جميع عناصر ومعايير تصميم الجرافيك وتطير البرمجيات بناءً على خبرات فريقنا المؤهل الذي يستمع لك ويرشدك نحو آخر التطورات التي من الممكن أن تستفيد منها بل وتوفر عليك الوقت والمال والجهد

                    </p>
                    <p class="mt-3">
                        نقدم لك خطوات سهلة وبسيطة للحصول على موقع الكتروني وتطبيقات الهاتف بشكل احترافي من خلال التواصل المباشر مع المختصين في شركتنا والذين يهتمون ويستمعون لأهداف موقعك ورؤيتك تجاه الفكرة وبالتالي يقومون بتصميم موقعك خطوة بخطوة من الألف إلى الياء حتى مرحلة التنفيذ بإشراف فريق من المصممين والمبرمجين والذين يتعاملون مع موقعك وحسب عملك الخاص كما يضمنون كامل التعديلات والصيانة لموقعك بعد التطوير
                    </p>


                </div>

                <div class="col-lg-6">
                    <br />
                    <br />
                    <div class="position-relative">
                        <img src="~/Content/Image/أهمية-تعلم-البرمجة.jpg" alt="" class="radius-image img-fluid" />
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>
<hr />
<section class="w3l-services" id="core">
    <br />
    <h5 class="title-big  " style="text-align:center">تطوير المراقع الالكترونية  </h5>
    <br />
    <p style="margin-right:5%;margin-left:5%">
        نحن نقدم لك خدمة تصميم وتطوير المواقع الإلكترونية باحترافية عالية كما نوفر في الموقع سهولة وسرعة التصفح، وتشمل أعمالنا السابقة مجموعة كبيرة من المواقع الإلكترونية في مختلف المجالات والقطاعات وتشمل مجالات المتاجر والعقارات والقطاعات الطبية والسياحية والتعليمية والصحية وغيرها من المجالات، كما نحرص على وملاءمتها وتوافقها مع كافة الأجهزة والمواصفات بتصاميم جذابة وعصرية، استثمر وقتك واطلب خدمة تصميم وتطوير المواقع الإلكترونية وحقق أحلامك التجارية وانقل بها إلى الواقع
    </p>
    <div class="midd-w3 py-5">
        <div class="container py-lg-5 py-md-3 py-2">
            <div class="row">

                <div class="col-lg-6 mb-lg-0 mb-md-5 mb-5 align-self">
                    <div class="position-relative">
                        <img src="~/Content/Image/web-development-programming-resized.jpg" alt="" class="radius-image img-fluid" />
                    </div>
                </div>
                <div class="col-lg-6 align-self-center">
                    <h5 class="title-big mx-0 " style="text-align:center">الادوات المستخدمة لتطوير المواقع  </h5>
                    <br />
                    <div class="row features4-grids">
                        <div class="col-md-6">
                            <div class="features4-grid" style="text-align:center">

                                <h6><a href="#">ٍِASP.Net</a></h6>
                            </div>
                        </div>
                        <div class="col-md-6 mt-lg-0 mt-4">
                            <div class="features4-grid" style="text-align:center">

                                <h6><a href="#">php</a></h6>
                            </div>
                        </div>
                        <div class="col-md-6 mt-4">
                            <div class="features4-grid" style="text-align:center">

                                <h6><a href="#">HTML5</a></h6>
                            </div>
                        </div>
                        <div class="col-md-6 mt-4">
                            <div class="features4-grid" style="text-align:center">

                                <h6><a href="#">CSS3</a></h6>
                            </div>
                        </div>
                        <div class="col-md-6 mt-4">
                            <div class="features4-grid" style="text-align:center">

                                <h6><a href="#">Bootstrap</a></h6>
                            </div>
                        </div>
                        <div class="col-md-6 mt-4">
                            <div class="features4-grid" style="text-align:center">

                                <h6><a href="#">JavaScript</a></h6>
                            </div>
                        </div>
                        <div class="col-md-6 mt-4">
                            <div class="features4-grid" style="text-align:center">

                                <h6><a href="#">SQL Server</a></h6>
                            </div>
                        </div>
                        <div class="col-md-6 mt-4">
                            <div class="features4-grid" style="text-align:center">
                                <h6><a href="#">Database</a></h6>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</section>
<hr />
<section class="w3l-services" id="core">
    <br />
    <h5 class="title-big  " style="text-align:center">تطوير برامج الهاتف  </h5>
    <br />
    <p style="margin-right:5%;margin-left:5%">نحن نقدم لك خدمة تصميم وتطوير برامج الهاتف باحترافية عالية كما نوفر سهولة وسرعة الاستخدام، وتشمل أعمالنا السابقة مجموعة كبيرة من برامج الهاتف  في مختلف المجالات والقطاعات وتشمل مجالات المتاجر والعقارات والقطاعات الطبية والسياحية والتعليمية والصحية وغيرها من المجالات، كما نحرص على وملاءمتها وتوافقها مع كافة الأجهزة والمواصفات بتصاميم جذابة وعصرية، استثمر وقتك واطلب خدمة تصميم وتطوير برامج الهاتف  وحقق أحلامك التجارية وانقل بها إلى الواقع</p>
    <div class="midd-w3 py-5">
        <div class="container py-lg-5 py-md-3 py-2">
            <div class="row">


                <div class="col-lg-6 align-self-center">
                    <h5 class="title-big mx-0 " style="text-align:center">الادوات المستخدمة لتطوير برامج الهاتف  </h5>
                    <br />
                    <div class="row features4-grids">
                        <div class="col-md-6">
                            <div class="features4-grid" style="text-align:center">

                                <h6><a href="#">Flutter</a></h6>
                            </div>
                        </div>
                        <div class="col-md-6 mt-lg-0 mt-4">
                            <div class="features4-grid" style="text-align:center">

                                <h6><a href="#">Android studio</a></h6>
                            </div>
                        </div>
                        <div class="col-md-6 mt-4">
                            <div class="features4-grid" style="text-align:center">

                                <h6><a href="#">Dart</a></h6>
                            </div>
                        </div>
                        <div class="col-md-6 mt-4">
                            <div class="features4-grid" style="text-align:center">

                                <h6><a href="#">Java</a></h6>
                            </div>
                        </div>

                        <div class="col-md-6 mt-4">
                            <div class="features4-grid" style="text-align:center">

                                <h6><a href="#">SQL Server</a></h6>
                            </div>
                        </div>
                        <div class="col-md-6 mt-4">
                            <div class="features4-grid" style="text-align:center">
                                <h6><a href="#">Database</a></h6>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-lg-6 mb-lg-0 mb-md-5 mb-5 align-self">
                    <div class="position-relative">
                        <img src="~/Content/Image/Flutter-App-development.jpg" alt="" class="radius-image img-fluid" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="course-meta mt-1" style="text-align:center">

    <a class="grid-link btn btn-success" href=" @Url.Action( "Create", "ContactServices")"> للإتصال بنا   </a>

</div>
<br />
<br />
<br />