
@{
    ViewBag.Title = "Service";
}
<div class="inner-banner">
    <section class="w3l-breadcrumb text-left">
        <div class="container">
            <ul class="breadcrumbs-custom-path">
                
            </ul>
        </div>
    </section>
</div>
<br />
<br />








<div class="w3l-homeblog py-5" id="homeblog">
    <div class="container py-lg-5 py-md-4">
        <div class="header-title mb-3">

            <h3 class="hny-title text-center">خدماتنا</h3>
        </div>
       

        <div class="row top-pics ">
            <div class="col-lg-3 col-md-6 mt-5">
                <div class="top-pic1">
                    <div class="card-body blog-details">
                        <a class="blog-desc" href="@Url.Action( "Index", "Departments")" style="text-align:center"> البرامج التدريبية </a>
                        <div class="author align-items-center">
                            <br />
                            <br />
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mt-5">
                <div class="top-pic2">
                    <div class="card-body blog-details">

                        <a class="blog-desc" href="@Url.Action( "Gov_Consulating", "Services")" style="text-align:center"> أستشارات حوكمة  </a>

                        <div class="author align-items-center">
                            <br />
                            <br />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mt-5">
                <div class="top-pic3">
                    <div class="card-body blog-details">



                        <a class="blog-desc" href="@Url.Action( "Man_Dev_Consulating", "Services")" style="text-align:center"> أستشارات تطوير اداري   </a>


                        <div class="author align-items-center">
                            <br />
                            <br />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mt-5">
                <div class="top-pic4">
                    <div class="card-body blog-details">

                        <a class=" blog-desc" href="@Url.Action( "Con_Gov_Ins", "Services")" style="text-align:center"> أستشارات للمؤسسات الحكومية  </a>

                        <div class="author align-items-center">
                            <br />
                            <br />
                        </div>
                    </div>
                </div>
            </div>

            
        </div>
    </div>
</div>



<br />
<br />


<br />
<br />
