
@{
    ViewBag.Title = "Traning";
}
<div class="inner-banner">
    <section class="w3l-breadcrumb text-left">
        <div class="container">
            <ul class="breadcrumbs-custom-path">
    
            </ul>
        </div>
    </section>
</div>
<br />
<br />
<h1 class="title-big " style="text-align:center;">برامج تدريبية</h1>

<br />
<br />
<br />

<div class="row" style="margin-right: 30px; text-align: right">
    <div class="col-md-3 ">

        <img src="~/Content/images/ادارة الشاريع اتنفيذية.jpg" width="250" height="250" />
        <h3>دورات ادارة المشروعات</h3>
        <a href="#readmore" class="btn btn-success">قراءة المزيد <span class="fa fa-arrow-left"></span></a>
    </div>
    <div class="col-md-3">

        <img src="~/Content/images/البرامج السياسيه.jpeg" width="250" height="250" />
        <h3>دورات البرامج السياسيه</h3>
        <a href="#readmore" class="btn btn-success">قراءة المزيد <span class="fa fa-arrow-left"></span></a>
    </div>
    <div class="col-md-3">

        <img src="~/Content/images/التسويق و المبيعات.png" width="250" height="250" />
        <h3>دورات التسويق و المبيعات</h3>
        <a href="#readmore" class="btn btn-success">قراءة المزيد <span class="fa fa-arrow-left"></span></a>
    </div>

    <div class="col-md-3">

        <img src="~/Content/images/الدورات السياحيه.jpg" width="250" height="250" />
        <h3>دورات السياحة</h3>
        <a href="#readmore" class="btn btn-success">قراءة المزيد <span class="fa fa-arrow-left"></span></a>
    </div>
</div>

<br />
<br />
<div class="row" style="margin-right: 30px; text-align: right">

    <div class="col-md-3">
        <img src="~/Content/images/دورات تنميه بشريه.jpg" width="250" height="250" />
        <h3>دورات تنميه بشريه</h3>
        <a href="#readmore" class="btn btn-success">قراءة المزيد <span class="fa fa-arrow-left"></span></a>
    </div>


    <div class="col-md-3">
        <img src="~/Content/images/المشريات و المخازن.jpg" width="250" height="250" />
        <h3>دورات المشتريات و المخازن</h3>
        <a href="#readmore" class="btn btn-success">قراءة المزيد <span class="fa fa-arrow-left"></span></a>
    </div>


    <div class="col-md-3">
        <img src="~/Content/images/جميع الدورات السلوكيه.jpeg" width="250" height="250" />
        <h3>الدورات السلوكيه</h3>
        <a href="#readmore" class="btn btn-success">قراءة المزيد <span class="fa fa-arrow-left"></span></a>
    </div>

    <div class="col-md-3">

        <img src="~/Content/images/دورات ماليه.png" width="250      " height="250" />
        <h3>دورات ماليه</h3>
        <a href="#readmore" class="btn btn-success">قراءة المزيد <span class="fa fa-arrow-left"></span></a>
    </div>
</div>

<br />
<br />

<div class="row" style="margin-right: 30px; text-align: right">


    <div class="col-md-3">
        <img src="~/Content/images/دورات اداره عامه.jpg" width="250" height="250" />
        <h3>دورات اداره عامه</h3>
        <a href="#readmore" class="btn btn-success">قراءة المزيد <span class="fa fa-arrow-left"></span></a>
    </div>

    <div class="col-md-3">

        <img src="~/Content/images/دورات اقتصادية.jpg" width="250" height="250" />
        <h3>دورات اقتصادية</h3>
        <a href="#readmore" class="btn btn-success">قراءة المزيد <span class="fa fa-arrow-left"></span></a>
    </div>

    <div class="col-md-3">

        <img src="~/Content/images/دورات بنكيه.jpeg" width="250" height="250" />
        <h3>دورات بنكيه</h3>
        <a href="#readmore" class="btn btn-success">قراءة المزيد <span class="fa fa-arrow-left"></span></a>
    </div>

    <div class="col-md-3">
        <img src="~/Content/images/دورات تربويه.jpg" width="250" height="250" />
        <h3>دورات تربويه</h3>
        <a href="#readmore" class="btn btn-success">قراءة المزيد <span class="fa fa-arrow-left"></span></a>
    </div>
</div>

<br />
<br />


<div class="row" style="margin-right: 30px; text-align: right;">



    <div class="col-md-3">
        <img src="~/Content/images/علاقات عامة و دوليه ودبلوماسيه.jpg" width="250" height="250" />
        <h3>دورات العلاقات العامة و الدوليه والدبلوماسيه</h3>
        <a href="#readmore" class="btn btn-success">قراءة المزيد <span class="fa fa-arrow-left"></span></a>
    </div>


    <div class="col-md-3">
        <img src="~/Content/images/السكرتاريا و ادارة المكاتب.jpg" width="250" height="250" />
        <h3>دورات السكرتاريا و ادارة المكاتب</h3>
        <a href="#readmore" class="btn btn-success">قراءة المزيد <span class="fa fa-arrow-left"></span></a>
    </div>

</div>

<br />
<br />

<br />
<br />

<br />
<br />


